workflows/Inactividad Bot - Proactivo.json
{
  "name": "Inactividad Bot - Proactivo",
  "nodes": [
    {
      "id": "schedule-trigger-001",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyXMinutes",
              "value": 5
            }
          ]
        }
      }
    },
    {
      "id": "postgres-query-001",
      "name": "Buscar Conversaciones Inactivas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [300, 0],
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ch.business_id,\n  ch.numero,\n  ch.updated_at,\n  ch.inactividad_estado,\n  ch.messages::text,\n  b.instance,\n  b.owner_number,\n  b.schedule_text::text,\n  b.timezone\nFROM conversation_history ch\nJOIN businesses b ON b.id = ch.business_id\nWHERE ch.updated_at < NOW() - '15 minutes'::interval\n  AND b.active = true\n  AND (ch.inactividad_estado IS NULL OR ch.inactividad_estado = 'avisado')\nORDER BY ch.updated_at ASC",
        "options": {}
      }
    },
    {
      "id": "code-filter-001",
      "name": "Filtrar y Decidir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0],
      "parameters": {
        "language": "javascript",
        "code": "// ─── FILTRAR Y DECIDIR ACCIÓN POR INACTIVIDAD ───\n// Entrada: items del nodo PostgreSQL\n// Salida: items con acción 'avisar' o 'cerrar'\n// Luego un IF node bifurca según accion === 'avisar'\n\nconst ITEMS = $input.all();\nconst RESULT = [];\n\nconst DIAS = ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'];\n\nfor (const item of ITEMS) {\n  const json = item.json;\n\n  // 1. Parsear schedule_text\n  let scheduleText = {};\n  try {\n    scheduleText = typeof json.schedule_text === 'string'\n      ? JSON.parse(json.schedule_text)\n      : json.schedule_text;\n  } catch (e) {\n    scheduleText = {};\n  }\n\n  // 2. Verificar horario laboral\n  const ahora = new Date();\n  const diaSemana = DIAS[ahora.getDay()];\n  const horaActual = ahora.getHours() * 60 + ahora.getMinutes();\n\n  const horarioHoy = scheduleText[diaSemana];\n  let dentroDeHorario = false;\n\n  if (horarioHoy && horarioHoy.length > 0) {\n    for (const bloque of horarioHoy) {\n      if (bloque.desde && bloque.hasta) {\n        const [hDesde, mDesde] = bloque.desde.split(':').map(Number);\n        const [hHasta, mHasta] = bloque.hasta.split(':').map(Number);\n        const inicio = hDesde * 60 + mDesde;\n        const fin = hHasta * 60 + mHasta;\n        if (horaActual >= inicio && horaActual <= fin) {\n          dentroDeHorario = true;\n          break;\n        }\n      }\n    }\n  }\n\n  if (!dentroDeHorario) continue;\n\n  // 3. Revisar último mensaje del assistant\n  let ultimoMensaje = '';\n  try {\n    const messages = typeof json.messages === 'string'\n      ? JSON.parse(json.messages)\n      : json.messages;\n    if (Array.isArray(messages) && messages.length > 0) {\n      for (let i = messages.length - 1; i >= 0; i--) {\n        if (messages[i].role === 'assistant') {\n          ultimoMensaje = messages[i].content || messages[i].text || '';\n          break;\n        }\n      }\n    }\n  } catch (e) {}\n\n  // 4. Detectar cierre de conversación\n  const patronesCierre = ['CITA_CONFIRMADA', 'GESTIONAR_CITA', 'fuera de horario', 'vuelve mañana', 'gracias por escribir'];\n  if (patronesCierre.some(p => ultimoMensaje.includes(p))) continue;\n\n  // 5. Decidir acción\n  if (json.inactividad_estado === null || json.inactividad_estado === undefined || json.inactividad_estado === '') {\n    RESULT.push({ json: { accion: 'avisar', numero: json.numero, business_id: json.business_id, instance: json.instance } });\n  } else if (json.inactividad_estado === 'avisado') {\n    RESULT.push({ json: { accion: 'cerrar', numero: json.numero, business_id: json.business_id } });\n  }\n}\n\nreturn RESULT;"
      }
    },
    {
      "id": "if-bifurcar-001",
      "name": "¿Es para avisar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-condition-001",
              "leftValue": "={{ $json.accion }}",
              "rightValue": "avisar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "http-send-001",
      "name": "Enviar ¿Sigues Ahí?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1200, -200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"number\": \"{{ $json.numero }}\",\n  \"text\": \"¡Hola! ¿Sigues ahí? 😊 Hace rato no sé de ti. Si quieres retomamos donde íbamos o dime si prefieres empezar de nuevo.\"\n}",
        "options": {}
      }
    },
    {
      "id": "postgres-update-avisar-001",
      "name": "Marcar como Avisado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1500, -200],
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_history\nSET inactividad_estado = 'avisado'\nWHERE business_id = {{ $json.business_id }}\n  AND numero = '{{ $json.numero }}'\n  AND (inactividad_estado IS NULL OR inactividad_estado = '');",
        "options": {}
      }
    },
    {
      "id": "postgres-update-cerrar-001",
      "name": "Marcar como Cerrado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1500, 200],
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_history\nSET inactividad_estado = 'cerrado'\nWHERE business_id = {{ $json.business_id }}\n  AND numero = '{{ $json.numero }}'\n  AND inactividad_estado = 'avisado';",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Buscar Conversaciones Inactivas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversaciones Inactivas": {
      "main": [
        [
          {
            "node": "Filtrar y Decidir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar y Decidir": {
      "main": [
        [
          {
            "node": "¿Es para avisar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es para avisar?": {
      "main": [
        [
          {
            "node": "Enviar ¿Sigues Ahí?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar como Cerrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar ¿Sigues Ahí?": {
      "main": [
        [
          {
            "node": "Marcar como Avisado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "active": false
}
