workflows/llm-orquestador-nodes.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT messages\nFROM conversation_history\nWHERE business_id = {{ $json.businessId }}\n  AND numero = '{{ $json.numeroLimpio }}'\n  AND expires_at > NOW()\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1400,
        1520
      ],
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Leer Historial",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AI Agent — LLM Orquestador\n// Fallback chain: Gemini 2.5 Flash-Lite → Cerebras gpt-oss-120b → Groq gpt-oss-120b\n// Reemplaza: AI Agent (langchain) + Groq Chat Model + Simple Memory\n// Modo: Run Once for All Items\n// El nodo se llama \"AI Agent\" a propósito: ~13 nodos downstream leen\n// $('AI Agent').item.json.output — renombrarlo evita tocar el Switch y las ramas.\n// ============================================================\n\nconst d = $('Formatear Disponibilidad').first().json;\n\n// Historial previo (de Leer Historial; Postgres JSONB ya viene parseado a array JS)\nlet prior = [];\ntry {\n  const raw = $('Leer Historial').first().json.messages;\n  prior = Array.isArray(raw) ? raw : (raw ? JSON.parse(raw) : []);\n} catch (e) { prior = []; }\nconst priorEsc = JSON.stringify(prior).replace(/'/g, \"''\"); // safe para embeber en '...'::jsonb\n\n// ── 0. SHORT-CIRCUIT FUERA DE HORARIO ───────────────────────\n// [DECISIÓN DE INGENIERÍA AÑADIDA — NO estaba en el diseño aprobado]\n// fueraDeHorario es booleano y determinista. Resolverlo en código evita una\n// llamada al LLM y corrige un bug latente: el prompt original referenciaba\n// \"Si fueraDeHorario = true...\" pero el modelo NUNCA recibía el valor real del\n// booleano, así que no podía cumplir la regla de forma fiable.\n// >>> Si NO quieres este comportamiento, borra este bloque completo. <<<\nif (d.fueraDeHorario === true && d.mensajeHorario) {\n  return [{ json: {\n    output: d.mensajeHorario,\n    rawOutput: d.mensajeHorario,\n    provider: 'short-circuit-horario',\n    reasoning: null,\n    debugError: null,\n    businessId: d.businessId,\n    numeroLimpio: d.numeroLimpio,\n    historyJSON: priorEsc            // no añadimos turnos en un short-circuit\n  }}];\n}\n\n// ── 1. SYSTEM PROMPT (transcrito del AI Agent original) ─────\nconst systemPrompt =\n`Eres el asistente virtual de ${d.promptName}.\n\nINSTRUCCIÓN PRINCIPAL:\nTienes acceso a los horarios disponibles reales del negocio.\nSOLO muestra horarios cuando el cliente indique una fecha específica.\nSi no hay fecha → pregunta primero qué día prefiere. NUNCA muestres todos los días disponibles sin que el cliente haya dicho un día.\n\nSERVICIOS Y PRECIOS:\n${d.servicesText}\n\nHORARIOS DE ATENCIÓN:\n${d.horarioTexto}\n\nVALIDACIÓN DE HORARIO:\nSi fueraDeHorario = true, responde ÚNICAMENTE con el contenido de mensajeHorario. No continúes. No agregues nada más.\n\n${d.sesionContexto}\n\nREGLA DE SESIÓN INTERNA — CRÍTICO:\nEl bloque SESIÓN ACTIVA y CITAS DISPONIBLES PARA SELECCIÓN es información INTERNA. NUNCA lo muestres al cliente. NUNCA menciones IDs, ID_CITA, ni ningún número interno. Al cliente solo muéstrale una lista numerada limpia con servicio, día en lenguaje natural y hora en formato AM/PM.\n\nSELECCIÓN DE CITA CON NÚMERO — REGLA ÚNICA:\nCuando el cliente responde con un número (1, 2, 3...) y hay SESIÓN ACTIVA:\n→ PRIMERO revisa la acción de la sesión (cancelar o reagendar).\n\n═══ SI LA ACCIÓN ES CANCELAR ═══\n→ Responde ÚNICAMENTE: CANCELAR_CITA|ID_CITA (el ID de la opción elegida)\n→ SIN texto adicional. SIN preguntar nada más. SIN ofrecer reagendar.\n→ El número es suficiente confirmación. NUNCA pidas confirmación extra.\n\nTAMBIÉN cuando hay una sola cita en la sesión y el cliente dice \"sí\", \"si\", \"1\", \"ok\", \"dale\", \"listo\", \"claro\", \"obvio\", \"confirmo\", \"de una\", \"hagale\", \"va\", \"le doy\":\n→ CANCELAR_CITA|ID_CITA\n\n═══ SI LA ACCIÓN ES REAGENDAR ═══\nPASO 1 — Cuando el cliente dice un número (1, 2, 3...) O confirma (\"sí\", \"si\", \"ok\", \"dale\", etc.):\n→ Identifica el ID_CITA de esa opción y el profesional asignado (de la SESIÓN ACTIVA)\n→ Si la cita tiene profesional asignado:\n  → Respuesta: \"Perfecto, vamos a reagendar tu cita de [servicio] con [profesional]. ¿Para qué día prefieres el nuevo horario? 😊\"\n  → NO preguntes por profesional. Usa el que ya tiene.\n→ Si la cita NO tiene profesional:\n  → PREGUNTA: \"Perfecto, vamos a reagendar tu cita de [servicio]. ¿Con qué profesional quieres agendarla? 😊\"\n  → Muestra la lista de profesionales disponibles\"\n→ NO muestres horarios. NO emitas código todavía.\n\nPASO 2 — Cuando el cliente dice un día (ej: \"martes\", \"pasado mañana\", \"14 de julio\", \"mañana\"):\n→ Calcula la fecha exacta DD/MM/YYYY\n→ Muestra SOLO los horarios de ESE día: \"09:00 AM, 10:00 AM, 10:30 AM\"\n→ Si el profesional no está confirmado (dijo \"otro\" o no sabe), pregunta: \"¿Con qué profesional? 😊\" antes de mostrar horarios\n→ Pregunta la hora. NUNCA muestres horarios sin día confirmado.\n\nPASO 3 — Cuando el cliente elige la hora exacta:\n→ Si dice solo un número, es la posición en el listado de horarios que acabas de mostrar\n→ Identifica el profesional final (el mismo de la cita original o el que el cliente eligió)\n→ Responde ÚNICAMENTE: REAGENDAR_CITA|ID_CITA|DD/MM/YYYY|HH:MM|NombreProfesional\n→ Incluye SIEMPRE el profesional como 5to campo. Si no hay profesionales, omítelo.\n\n⚠️ CÓMO SABER SI UN NÚMERO ES CANCELAR (PASO ÚNICO) O REAGENDAR (PASO 1):\nRevisa la acción en SESIÓN ACTIVA. Esa es la ÚNICA fuente de verdad.\n- Si sesión dice \"cancelar\": el número SIEMPRE es CANCELAR_CITA|ID\n- Si sesión dice \"reagendar\": el número es PASO 1 de reagendar\n\n⚠️ CAMBIO DE INTENCIÓN DEL CLIENTE:\nSi en CUALQUIER momento el cliente dice \"cancelar\", \"cancelela\", \"anúlela\", \"cancele\", \"borre la cita\", \"no voy\", \"no puedo ir\" o similar:\n→ Detén lo que estés haciendo (incluso si estabas en flujo de reagendar)\n→ Responde ÚNICAMENTE: GESTIONAR_CITA|cancelar\n→ La intención de cancelar SIEMPRE prevalece sobre reagendar.\nHORARIOS DISPONIBLES (próximos 7 días):\n${d.disponibilidad}\n\nREGLA CRÍTICA DE DISPONIBILIDAD:\n- Cliente dice fecha específica → muestra SOLO los horarios de ESE día en formato limpio sin numeración: \"09:00 AM, 10:00 AM, 11:00 AM\"\n- Cliente NO dice fecha → pregunta qué día prefiere. PROHIBIDO mostrar horarios sin fecha confirmada.\n- PROHIBIDO mostrar más de un día a la vez\n- PROHIBIDO decir que no tienes información de disponibilidad\n\nAGENDAMIENTO — MÍNIMO DE PREGUNTAS:\nExtrae TODO lo que el cliente ya dijo en su mensaje (servicio, profesional, fecha, hora). \nSolo pregunta lo que falte. NUNCA preguntes algo que el cliente ya haya dicho.\n\n1. SERVICIO — Si el cliente NO ha dicho un servicio específico:\n   → LISTA TODOS los servicios con sus precios (completa, sin truncar)\n   → Pregunta cuál le interesa\n   → Si YA dijo el servicio → confírmalo y continúa sin preguntar\n\n2. PROFESIONAL — Si hay profesionales disponibles:\n   → Si el cliente YA dijo \"cualquiera\", \"el que tenga espacio\", \"no importa\" o similar:\n     → NO preguntes. Elige el primero disponible y continúa.\n   → Si el cliente YA dijo un nombre o número → úsalo, no preguntes\n   → Si NO dijo nada de profesionales → PREGUNTA \"¿Con qué profesional quieres agendar?\"\n   → Si solo hay un profesional (la lista tiene 1) → NO preguntes, úsalo directamente\n\n3. Si no tienes la FECHA → pregunta qué día prefiere. Espera respuesta.\n   ⚠️ Si el cliente YA mencionó una fecha antes (en este mismo flujo o en mensajes anteriores), NO preguntes de nuevo. Usa la fecha que ya dijo.\n\n4. Cuando tengas el día → muestra SOLO los horarios disponibles de ESE día en formato limpio: \"09:00 AM, 10:00 AM\"\n   → Pide elegir hora exacta\n\n5. CONFIRMAR — Solo cuando tengas servicio + profesional + fecha + hora:\n   → Muestra resumen y pide confirmación:\n\"Perfecto, te confirmo los datos:\n✂️ Servicio: [servicio]\n👤 Profesional: [nombre]\n📅 Fecha: [fecha en lenguaje natural]\n⏰ Hora: [hora AM/PM]\n¿Confirmamos la cita? 😊\nCRÍTICO — HORA EXACTA: \"en la tarde\", \"en la mañana\", \"más tarde\" NO son horas válidas. Muestra el listado y pide que elija una hora exacta.\nNUNCA confirmes una hora sin saber si es AM o PM.\n\nCANCELACIONES Y REAGENDAMIENTO:\nDetecta intención aunque el cliente use palabras variadas o jerga:\ncancelar, anular, borrar, no puedo ir, no voy, quitar la cita, cancelar el turno,\nreagendar, cambiar, mover, postergar, no puedo asistir, necesito cambiar la hora.\n\nCuando detectes cancelación → responde ÚNICAMENTE sin texto adicional:\nGESTIONAR_CITA|cancelar\n\nCuando detectes reagendamiento → responde ÚNICAMENTE sin texto adicional:\nGESTIONAR_CITA|reagendar\n\nNUNCA respondas que el equipo lo contactará. Siempre emite el código.\n\nTOLERANCIA A ERRORES ORTOGRÁFICOS — APLICA A TODO:\nEl cliente PUEDE escribir cualquier cosa con errores, sin tildes, con abreviaciones, jerga de chat o palabras pegadas. Aplica a TODOS los campos: servicios, nombres de profesionales, fechas, horas, acciones, etc.\n\nEjemplos de variaciones comunes:\n- Fechas: \"manana\", \"mñn\", \"mñna\" = mañana | \"pasao\", \"pasado\" = pasado | \"psado mñn\", \"pasao mañana\", \"pas mañana\" = pasado mañana | \"antier\", \"anteallende\", \"antes de ayer\" = anteayer | \"oy\", \"oi\", \"hoy\" = hoy | \"en 3 dias\", \"en 3 días\", \"dentro de 3\" = en tres días\n- Días: \"domingo\", \"dom\", \"domi\", \"doming\" = domingo (igual con todos los días: lun/lunes, mar/martes, mie/mier/miercoles, etc.)\n- Servicios: \"corte\", \"cort\", \"crt\" = Corte caballero | \"corte dama\", \"dama\", \"mujer\" = Corte dama | \"tint\", \"tinte\", \"color\" = Tinte completo | \"uñas\", \"unias\", \"uñitas\" = Uñas | \"manicur\", \"manicure\", \"manikur\", \"mano\" = Manicure + pedicure | \"peinado\", \"peinao\", \"peinado especial\" = Peinado especial\n- Profesionales: cualquier variación del nombre (ej: \"cristian\", \"cristhian\", \"crist\", \"cris\" = Cristian)\n- Acciones: \"agendar\", \"agendame\", \"agenda\", \"apuntame\", \"programa\", \"registrame\", \"ponme\", \"dejame\", \"sacame\", \"dame\" = intención de agendar | \"cancela\", \"anula\", \"borra\", \"quita\", \"elimina\" = cancelar\n- Chat: \"x favor\", \"xfa\", \"porfa\", \"plis\" = por favor | \"q\", \"k\", \"ke\" = que | \"toy\", \"estoy\" | \"pa\", \"para\" | \"pq\", \"xq\", \"porque\", \"xke\" = porque/por qué | \"tmb\", \"tb\" = también | \"nada\", \"na\" = nada\n- Cualquier palabra sin tilde debe interpretarse como si la tuviera\n- Cualquier palabra con una o dos letras mal debe interpretarse por contexto\n\nNO corrijas al cliente. NO le digas \"quisiste decir...\", \"quizá quisiste decir...\", \"creo que quisiste decir...\" ni nada similar. Simplemente entiende la intención y continúa naturalmente como si hubiera escrito bien.\n\nSi no entiendes una palabra, usa el contexto de toda la conversación para deducirla. NUNCA te quedes bloqueado por una palabra mal escrita.\n\nTONO Y LENGUAJE:\n- Responde SIEMPRE en español\n- Acepta y entiende jerga colombiana: parce, loca, marica, mi amor, papi, mami, listo pues, hagale, le doy, chévere, bacano, pilas, entre otros. Nunca te ofendas ni corrijas al cliente.\n- Responde con calidez y naturalidad, como si fuera una persona real del negocio\n- Máximo 5 líneas por respuesta\n- En conversaciones normales termina con una pregunta\n- NUNCA termines con pregunta al confirmar una cita o al emitir un código de acción\n- FORMATO DE FECHA: Usa lenguaje natural. CORRECTO: \"el miércoles 8 de abril\". INCORRECTO: \"08/04/2026\"\n- ASESORÍA: Si el cliente pide recomendación, respóndela brevemente antes de continuar.\n- SERVICIOS: NUNCA menciones servicios fuera de tu lista. Si no existe: \"Lo sentimos, ese servicio no está disponible. Nuestros servicios son: ${d.servicesText}. ¿Puedo ayudarte con alguno? 😊\"`;\n\n// ── 2. CONSTRUIR MESSAGES (system + historial limpio + user nuevo) ──\nconst priorClean = prior\n  .filter(m => m && m.role && m.content)\n  .map(m => ({ role: m.role, content: String(m.content) })); // strip reasoning/provider antes de reenviar\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...priorClean,\n  { role: 'user', content: String(d.textoOriginal || '') }\n];\n\n// ── 3. FALLBACK CHAIN ───────────────────────────────────────\n// Criterio de fallo (→ siguiente proveedor): non-200, timeout >10s,\n// response sin choices, content vacío/null. Patrón \"multiple fallbacks +\n// graceful degradation\".\nconst providers = [\n  { name: 'gemini',   url: 'https://generativelanguage.googleapis.com/v1beta/openai/chat/completions', key: $env.GEMINI_API_KEY,   model: 'gemini-2.5-flash-lite' },\n  { name: 'cerebras', url: 'https://api.cerebras.ai/v1/chat/completions',                                key: $env.CEREBRAS_API_KEY, model: 'gpt-oss-120b' },\n  { name: 'groq',     url: 'https://api.groq.com/openai/v1/chat/completions',                            key: $env.GROQ_API_KEY,     model: 'openai/gpt-oss-120b' } // prefijo \"openai/\" obligatorio en Groq\n];\n\nlet result = null, usedProvider = 'none', lastError = '';\n\nfor (const p of providers) {\n  if (!p.key) { lastError += `[${p.name}: sin API key] `; continue; }\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: p.url,\n      headers: { 'Authorization': `Bearer ${p.key}`, 'Content-Type': 'application/json' },\n      body: { model: p.model, messages, temperature: 0.4, max_tokens: 2048 },\n      json: true,\n      timeout: 10000,            // timeout >10s lanza → cae al catch → siguiente proveedor\n      returnFullResponse: true\n    });\n    if (resp.statusCode !== 200) throw new Error(`status ${resp.statusCode}`);\n    const choice = resp.body && resp.body.choices && resp.body.choices[0];\n    if (!choice || !choice.message) throw new Error('sin choices');\n    const content = choice.message.content;\n    if (content == null || String(content).trim() === '') throw new Error('content vacio');\n    result = { content: String(content), reasoning: choice.message.reasoning || null };\n    usedProvider = p.name;\n    break;\n  } catch (e) {\n    lastError += `[${p.name}: ${e.message}] `;\n    continue;\n  }\n}\n\n// ── 4. DEGRADACIÓN GRÁCIL (ningún proveedor respondió) ──────\n// Tres horizontes: NO exponer el error al cliente. Mensaje amable + reintento.\n// No envenenamos el historial: lo dejamos igual (sin turnos nuevos).\nif (!result) {\n  return [{ json: {\n    output: 'Disculpa, estoy teniendo un problemita técnico en este momento 🙏 ¿Puedes escribirme de nuevo en un minutico?',\n    rawOutput: '',\n    provider: 'none',\n    reasoning: null,\n    debugError: lastError,\n    businessId: d.businessId,\n    numeroLimpio: d.numeroLimpio,\n    historyJSON: priorEsc\n  }}];\n}\n\n// ── 5. NORMALIZACIÓN DE SALIDA (regex → código limpio) ──────\n// Gemini/gpt-oss pueden anteponer texto o envolver en backticks. Extraemos el\n// código EXACTO con segmentos acotados (no greedy hasta EOL) para que los\n// split('|') downstream caigan perfecto. Si no hay código → texto conversacional.\nfunction normalizar(raw) {\n  let t = String(raw).trim().replace(/```[a-zA-Z]*\\n?/g, '').replace(/```/g, '').trim();\n  const horaSeg = '\\\\d{1,2}:\\\\d{2}(?:\\\\s?[AaPp]\\\\.?[Mm]\\\\.?)?';\n  const patrones = [\n    new RegExp(`CITA_CONFIRMADA\\\\|[^|\\\\n]+\\\\|\\\\d{1,2}\\\\/\\\\d{1,2}\\\\/\\\\d{4}\\\\|${horaSeg}`),\n    new RegExp(`REAGENDAR_CITA\\\\|\\\\d+\\\\|\\\\d{1,2}\\\\/\\\\d{1,2}\\\\/\\\\d{4}\\\\|${horaSeg}(?:\\\\|[^|\\\\n]+)?`),\n    /CANCELAR_CITA\\|\\s*\\d+/,\n    /GESTIONAR_CITA\\|\\s*(?:cancelar|reagendar)/i\n  ];\n  for (const p of patrones) {\n    const m = t.match(p);\n    if (m) return m[0].trim();\n  }\n  return t;\n}\nconst cleaned = normalizar(result.content);\n\n// ── 6. ACTUALIZAR HISTORIAL (máx 20 mensajes = 10 turnos) ───\n// Guardamos reasoning + provider en el turno assistant para debug; se strip-ean\n// al reenviar (paso 2). El system prompt NO se guarda (se reconstruye cada turno).\nconst updated = [\n  ...prior,\n  { role: 'user',      content: String(d.textoOriginal || '') },\n  { role: 'assistant', content: result.content, reasoning: result.reasoning, provider: usedProvider }\n].slice(-20);\n\nreturn [{ json: {\n  output: cleaned,                 // ← lo que leen Switch y las ramas\n  rawOutput: result.content,       // debug\n  provider: usedProvider,          // debug\n  reasoning: result.reasoning,     // debug\n  debugError: lastError || null,\n  businessId: d.businessId,\n  numeroLimpio: d.numeroLimpio,\n  historyJSON: JSON.stringify(updated).replace(/'/g, \"''\")\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        1328
      ],
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_history (business_id, numero, messages, updated_at, expires_at)\nVALUES (\n  {{ $('AI Agent').item.json.businessId }},\n  '{{ $('AI Agent').item.json.numeroLimpio }}',\n  '{{ $('AI Agent').item.json.historyJSON }}'::jsonb,\n  NOW(),\n  NOW() + INTERVAL '2 hours'\n)\nON CONFLICT (business_id, numero)\nDO UPDATE SET\n  messages   = EXCLUDED.messages,\n  updated_at = EXCLUDED.updated_at,\n  expires_at = EXCLUDED.expires_at;\n\nDELETE FROM conversation_history WHERE expires_at < NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1640,
        1520
      ],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Guardar Historial",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Leer Historial": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Guardar Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}