workflows/llm-orquestador-nodes.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT messages\nFROM conversation_history\nWHERE business_id = {{ $json.businessId }}\n  AND numero = '{{ $json.numeroLimpio }}'\n  AND expires_at > NOW()\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1400,
        1520
      ],
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Leer Historial",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AI Agent — LLM Orquestador\n// Fallback chain: Gemini 2.5 Flash-Lite → Cerebras gpt-oss-120b → Groq gpt-oss-120b\n// Reemplaza: AI Agent (langchain) + Groq Chat Model + Simple Memory\n// Modo: Run Once for All Items\n// El nodo se llama \"AI Agent\" a propósito: ~13 nodos downstream leen\n// $('AI Agent').item.json.output — renombrarlo evita tocar el Switch y las ramas.\n// ============================================================\n\nconst d = $('Formatear Disponibilidad').first().json;\n\n// Historial previo (de Leer Historial; Postgres JSONB ya viene parseado a array JS)\nlet prior = [];\ntry {\n  const raw = $('Leer Historial').first().json.messages;\n  prior = Array.isArray(raw) ? raw : (raw ? JSON.parse(raw) : []);\n} catch (e) { prior = []; }\nconst priorEsc = JSON.stringify(prior).replace(/'/g, \"''\"); // safe para embeber en '...'::jsonb\n\n// ── 0. SHORT-CIRCUIT FUERA DE HORARIO ───────────────────────\n// [DECISIÓN DE INGENIERÍA AÑADIDA — NO estaba en el diseño aprobado]\n// fueraDeHorario es booleano y determinista. Resolverlo en código evita una\n// llamada al LLM y corrige un bug latente: el prompt original referenciaba\n// \"Si fueraDeHorario = true...\" pero el modelo NUNCA recibía el valor real del\n// booleano, así que no podía cumplir la regla de forma fiable.\n// >>> Si NO quieres este comportamiento, borra este bloque completo. <<<\nif (d.fueraDeHorario === true && d.mensajeHorario) {\n  return [{ json: {\n    output: d.mensajeHorario,\n    rawOutput: d.mensajeHorario,\n    provider: 'short-circuit-horario',\n    reasoning: null,\n    debugError: null,\n    businessId: d.businessId,\n    numeroLimpio: d.numeroLimpio,\n    historyJSON: priorEsc            // no añadimos turnos en un short-circuit\n  }}];\n}\n\n// ── 1. SYSTEM PROMPT (transcrito del AI Agent original) ─────\nconst systemPrompt =\n`Eres el asistente virtual de ${d.promptName}.\n\nINSTRUCCIÓN PRINCIPAL:\nTienes acceso a los horarios disponibles reales del negocio.\nSOLO muestra horarios cuando el cliente indique una fecha específica.\nSi no hay fecha → pregunta primero qué día prefiere. NUNCA muestres todos los días disponibles sin que el cliente haya dicho un día.\n\nSERVICIOS Y PRECIOS:\n${d.servicesText}\n\nHORARIOS DE ATENCIÓN:\n${d.horarioTexto}\n\nVALIDACIÓN DE HORARIO:\nSi fueraDeHorario = true, responde ÚNICAMENTE con el contenido de mensajeHorario. No continúes. No agregues nada más.\n\n${d.sesionContexto}\n\nREGLA DE SESIÓN INTERNA — CRÍTICO:\nEl bloque SESIÓN ACTIVA y CITAS DISPONIBLES PARA SELECCIÓN es información INTERNA. NUNCA lo muestres al cliente. NUNCA menciones IDs, ID_CITA, ni ningún número interno. Al cliente solo muéstrale una lista numerada limpia con servicio, día en lenguaje natural y hora en formato AM/PM.\n\nSELECCIÓN DE CITA — CRÍTICO:\nCuando el cliente responda con un número (1, 2, 3, etc.) Y hay una SESIÓN ACTIVA en el contexto:\n\nSi la acción es CANCELAR:\n- Identifica el ID_CITA correspondiente al número elegido\n- Responde ÚNICAMENTE sin texto adicional: CANCELAR_CITA|ID_CITA\n- NUNCA pidas confirmación adicional — el número es suficiente\n\nSi la acción es REAGENDAR — TRES PASOS OBLIGATORIOS, NO SALTARSE NINGUNO:\nPASO 1 — Cuando el cliente dice el número (ej: \"1\"):\n  → Identifica internamente el ID_CITA y el servicio de esa opción\n  → Responde al cliente: \"Perfecto, vamos a reagendar tu cita de [servicio] del [fecha en lenguaje natural]. ¿Para qué día prefieres el nuevo horario? 😊\"\n  → NO emitas ningún código todavía. NO muestres disponibilidad todavía.\nPASO 2 — Cuando el cliente dice el día:\n  → Muestra SOLO los horarios disponibles de ese día en formato limpio: \"09:00 AM, 10:00 AM, 11:00 AM\"\n  → Pide que elija una hora exacta\nPASO 3 — Cuando el cliente elige la hora exacta:\n  → Responde ÚNICAMENTE sin texto adicional: REAGENDAR_CITA|ID_CITA|DD/MM/YYYY|HH:MM\n\nPROHIBIDO en reagendamiento: emitir REAGENDAR_CITA sin tener fecha y hora confirmadas por el cliente en este mismo flujo.\n\nHORARIOS DISPONIBLES (próximos 7 días):\n${d.disponibilidad}\n\nREGLA CRÍTICA DE DISPONIBILIDAD:\n- Cliente dice fecha específica → muestra SOLO los horarios de ESE día en formato limpio sin numeración: \"09:00 AM, 10:00 AM, 11:00 AM\"\n- Cliente NO dice fecha → pregunta qué día prefiere. PROHIBIDO mostrar horarios sin fecha confirmada.\n- PROHIBIDO mostrar más de un día a la vez\n- PROHIBIDO decir que no tienes información de disponibilidad\n\nAGENDAMIENTO:\nORDEN OBLIGATORIO — NUNCA saltes pasos:\n1. Si no tienes el SERVICIO → pregunta el servicio primero. NADA MÁS.\n2. Si no tienes la FECHA → pregunta qué día prefiere. Espera respuesta.\n3. Cuando diga el día → muestra SOLO los horarios disponibles de ese día en formato limpio: \"09:00 AM, 10:00 AM, 11:00 AM\"\n4. Si no tienes la HORA EXACTA → pide que elija del listado.\n5. Solo cuando tengas los 3 datos confirmados → muestra el resumen.\n\nLa fecha de hoy es ${d.fechaHoy}.\nCALENDARIO DE ESTA SEMANA:\n${d.calendario}\n\nPara agendar necesitas 3 datos EXPLÍCITOS:\n1. Servicio\n2. Fecha\n3. Hora EXACTA en formato HH:MM\n\nCuando tengas los 3 datos muestra el resumen y pide confirmación:\n\"Perfecto, te confirmo los datos:\n✂️ Servicio: [servicio]\n📅 Fecha: [fecha en lenguaje natural]\n⏰ Hora: [hora en formato AM/PM]\n¿Confirmamos la cita? 😊\"\n\nCONFIRMACIÓN DE AGENDAMIENTO:\nCuando el cliente confirme con \"sí\", \"si\", \"confirmo\", \"listo\", \"dale\", \"va\", \"ok\", \"claro\", \"obvio\", \"listo pues\", \"hagale\", \"le doy\", o cualquier expresión afirmativa en español incluyendo jerga colombiana, responde ÚNICAMENTE:\nCITA_CONFIRMADA|servicio|DD/MM/YYYY|HH:MM\n\nREGLA DE CONFIRMACIÓN PARCIAL — CRÍTICO:\nSi el cliente confirma Y en el mismo mensaje pregunta algo adicional o pide un cambio:\nPRIMERO emite CITA_CONFIRMADA con los datos ya acordados.\nEl tema adicional lo atiendes en el siguiente mensaje.\nNUNCA ignores una confirmación por culpa de texto adicional.\n\nCRÍTICO — HORA EXACTA: \"en la tarde\", \"en la mañana\", \"más tarde\" NO son horas válidas. Muestra el listado y pide que elija una hora exacta.\nNUNCA confirmes una hora sin saber si es AM o PM.\n\nCANCELACIONES Y REAGENDAMIENTO:\nDetecta intención aunque el cliente use palabras variadas o jerga:\ncancelar, anular, borrar, no puedo ir, no voy, quitar la cita, cancelar el turno,\nreagendar, cambiar, mover, postergar, no puedo asistir, necesito cambiar la hora.\n\nCuando detectes cancelación → responde ÚNICAMENTE sin texto adicional:\nGESTIONAR_CITA|cancelar\n\nCuando detectes reagendamiento → responde ÚNICAMENTE sin texto adicional:\nGESTIONAR_CITA|reagendar\n\nNUNCA respondas que el equipo lo contactará. Siempre emite el código.\n\nTONO Y LENGUAJE:\n- Responde SIEMPRE en español\n- Acepta y entiende jerga colombiana: parce, loca, marica, mi amor, papi, mami, listo pues, hagale, le doy, chévere, bacano, pilas, entre otros. Nunca te ofendas ni corrijas al cliente.\n- Responde con calidez y naturalidad, como si fuera una persona real del negocio\n- Máximo 5 líneas por respuesta\n- En conversaciones normales termina con una pregunta\n- NUNCA termines con pregunta al confirmar una cita o al emitir un código de acción\n- FORMATO DE FECHA: Usa lenguaje natural. CORRECTO: \"el miércoles 8 de abril\". INCORRECTO: \"08/04/2026\"\n- ASESORÍA: Si el cliente pide recomendación, respóndela brevemente antes de continuar.\n- SERVICIOS: NUNCA menciones servicios fuera de tu lista. Si no existe: \"Lo sentimos, ese servicio no está disponible. Nuestros servicios son: ${d.servicesText}. ¿Puedo ayudarte con alguno? 😊\"`;\n\n// ── 2. CONSTRUIR MESSAGES (system + historial limpio + user nuevo) ──\nconst priorClean = prior\n  .filter(m => m && m.role && m.content)\n  .map(m => ({ role: m.role, content: String(m.content) })); // strip reasoning/provider antes de reenviar\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...priorClean,\n  { role: 'user', content: String(d.textoOriginal || '') }\n];\n\n// ── 3. FALLBACK CHAIN ───────────────────────────────────────\n// Criterio de fallo (→ siguiente proveedor): non-200, timeout >10s,\n// response sin choices, content vacío/null. Patrón \"multiple fallbacks +\n// graceful degradation\".\nconst providers = [\n  { name: 'gemini',   url: 'https://generativelanguage.googleapis.com/v1beta/openai/chat/completions', key: $env.GEMINI_API_KEY,   model: 'gemini-2.5-flash-lite' },\n  { name: 'cerebras', url: 'https://api.cerebras.ai/v1/chat/completions',                                key: $env.CEREBRAS_API_KEY, model: 'gpt-oss-120b' },\n  { name: 'groq',     url: 'https://api.groq.com/openai/v1/chat/completions',                            key: $env.GROQ_API_KEY,     model: 'openai/gpt-oss-120b' } // prefijo \"openai/\" obligatorio en Groq\n];\n\nlet result = null, usedProvider = 'none', lastError = '';\n\nfor (const p of providers) {\n  if (!p.key) { lastError += `[${p.name}: sin API key] `; continue; }\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: p.url,\n      headers: { 'Authorization': `Bearer ${p.key}`, 'Content-Type': 'application/json' },\n      body: { model: p.model, messages, temperature: 0.4, max_tokens: 2048 },\n      json: true,\n      timeout: 10000,            // timeout >10s lanza → cae al catch → siguiente proveedor\n      returnFullResponse: true\n    });\n    if (resp.statusCode !== 200) throw new Error(`status ${resp.statusCode}`);\n    const choice = resp.body && resp.body.choices && resp.body.choices[0];\n    if (!choice || !choice.message) throw new Error('sin choices');\n    const content = choice.message.content;\n    if (content == null || String(content).trim() === '') throw new Error('content vacio');\n    result = { content: String(content), reasoning: choice.message.reasoning || null };\n    usedProvider = p.name;\n    break;\n  } catch (e) {\n    lastError += `[${p.name}: ${e.message}] `;\n    continue;\n  }\n}\n\n// ── 4. DEGRADACIÓN GRÁCIL (ningún proveedor respondió) ──────\n// Tres horizontes: NO exponer el error al cliente. Mensaje amable + reintento.\n// No envenenamos el historial: lo dejamos igual (sin turnos nuevos).\nif (!result) {\n  return [{ json: {\n    output: 'Disculpa, estoy teniendo un problemita técnico en este momento 🙏 ¿Puedes escribirme de nuevo en un minutico?',\n    rawOutput: '',\n    provider: 'none',\n    reasoning: null,\n    debugError: lastError,\n    businessId: d.businessId,\n    numeroLimpio: d.numeroLimpio,\n    historyJSON: priorEsc\n  }}];\n}\n\n// ── 5. NORMALIZACIÓN DE SALIDA (regex → código limpio) ──────\n// Gemini/gpt-oss pueden anteponer texto o envolver en backticks. Extraemos el\n// código EXACTO con segmentos acotados (no greedy hasta EOL) para que los\n// split('|') downstream caigan perfecto. Si no hay código → texto conversacional.\nfunction normalizar(raw) {\n  let t = String(raw).trim().replace(/```[a-zA-Z]*\\n?/g, '').replace(/```/g, '').trim();\n  const horaSeg = '\\\\d{1,2}:\\\\d{2}(?:\\\\s?[AaPp]\\\\.?[Mm]\\\\.?)?';\n  const patrones = [\n    new RegExp(`CITA_CONFIRMADA\\\\|[^|\\\\n]+\\\\|\\\\d{1,2}\\\\/\\\\d{1,2}\\\\/\\\\d{4}\\\\|${horaSeg}`),\n    new RegExp(`REAGENDAR_CITA\\\\|\\\\d+\\\\|\\\\d{1,2}\\\\/\\\\d{1,2}\\\\/\\\\d{4}\\\\|${horaSeg}`),\n    /CANCELAR_CITA\\|\\s*\\d+/,\n    /GESTIONAR_CITA\\|\\s*(?:cancelar|reagendar)/i\n  ];\n  for (const p of patrones) {\n    const m = t.match(p);\n    if (m) return m[0].trim();\n  }\n  return t;\n}\nconst cleaned = normalizar(result.content);\n\n// ── 6. ACTUALIZAR HISTORIAL (máx 20 mensajes = 10 turnos) ───\n// Guardamos reasoning + provider en el turno assistant para debug; se strip-ean\n// al reenviar (paso 2). El system prompt NO se guarda (se reconstruye cada turno).\nconst updated = [\n  ...prior,\n  { role: 'user',      content: String(d.textoOriginal || '') },\n  { role: 'assistant', content: result.content, reasoning: result.reasoning, provider: usedProvider }\n].slice(-20);\n\nreturn [{ json: {\n  output: cleaned,                 // ← lo que leen Switch y las ramas\n  rawOutput: result.content,       // debug\n  provider: usedProvider,          // debug\n  reasoning: result.reasoning,     // debug\n  debugError: lastError || null,\n  businessId: d.businessId,\n  numeroLimpio: d.numeroLimpio,\n  historyJSON: JSON.stringify(updated).replace(/'/g, \"''\")\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        1328
      ],
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_history (business_id, numero, messages, updated_at, expires_at)\nVALUES (\n  {{ $('AI Agent').item.json.businessId }},\n  '{{ $('AI Agent').item.json.numeroLimpio }}',\n  '{{ $('AI Agent').item.json.historyJSON }}'::jsonb,\n  NOW(),\n  NOW() + INTERVAL '2 hours'\n)\nON CONFLICT (business_id, numero)\nDO UPDATE SET\n  messages   = EXCLUDED.messages,\n  updated_at = EXCLUDED.updated_at,\n  expires_at = EXCLUDED.expires_at;\n\nDELETE FROM conversation_history WHERE expires_at < NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1640,
        1520
      ],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Guardar Historial",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Leer Historial": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Guardar Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}