workflows/No-Shows - Auto Completar.json
{
  "name": "No-Shows - Auto Completar",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 23,
              "minute": 59
            }
          ]
        }
      },
      "id": "26dae46e-bd1e-4542-ac7d-22ea1c274429",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH actualizadas AS (\n  UPDATE appointments\n  SET estado = 'Completada', updated_at = NOW()\n  WHERE fecha < CURRENT_DATE\n    AND estado = 'Pendiente'\n  RETURNING id, business_id, nombre, servicio, fecha::text\n)\nSELECT COUNT(*)::int AS total FROM actualizadas;",
        "options": {}
      },
      "id": "2fe30d0c-037e-46b6-89f3-d599da249e20",
      "name": "Completar No-Shows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const total = $input.first().json.total;\nif (total > 0) {\n  console.log(`[No-Shows] ${total} cita(s) completada(s) autom\u00e1ticamente`);\n}\nreturn [{ json: { total, procesadas: total > 0 } }];"
      },
      "id": "3267e087-d0c2-40eb-b09e-1c6ccfdc7e0f",
      "name": "Log Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Completar No-Shows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completar No-Shows": {
      "main": [
        [
          {
            "node": "Log Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}