workflows/No-Shows - Auto Completar.json
{
  "name": "No-Shows - Auto Completar",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 23,
              "minute": 59
            }
          ]
        }
      },
      "id": "bb450245-0b8e-416a-8563-f950ba389890",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH actualizadas AS (\n  UPDATE appointments\n  SET estado = 'Completada', updated_at = NOW()\n  WHERE fecha < CURRENT_DATE\n    AND estado = 'Pendiente'\n  RETURNING id, business_id, nombre, servicio, fecha::text\n)\nSELECT COUNT(*)::int AS total FROM actualizadas;",
        "options": {}
      },
      "id": "fb8e9539-885f-4e28-97e1-ee3688f21517",
      "name": "Completar No-Shows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const total = $input.first().json.total;\nif (total > 0) {\n  console.log(`[No-Shows] ${total} cita(s) completada(s) autom\u00e1ticamente`);\n}\nreturn [{ json: { total, procesadas: total > 0 } }];"
      },
      "id": "d44875b9-7f36-448b-b66e-eb31005a2128",
      "name": "Log Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Completar No-Shows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completar No-Shows": {
      "main": [
        [
          {
            "node": "Log Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": "{}",
  "tags": [],
  "active": true,
  "pinData": {},
  "versionId": "3e6613c1-5272-405f-97d2-01115a9c8076",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78865b14428b3461ac0504416eb2ba5903a5482f3190c606719f27159eed62fe"
  },
  "id": "q5Pm2VZAEtikMg"
}