workflows/Recordatorios 24h - Peluquería Meyer.json
{
  "name": "Recordatorios 24h - Peluquería Meyer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * *"
            }
          ]
        }
      },
      "id": "2b35d2b0-79ee-4678-980c-c84949abaf4d",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        576,
        -480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.fecha::text AS \"Fecha\", a.hora::text AS \"Hora\", a.nombre AS \"Nombre\", a.servicio AS \"Servicio\", a.numero AS \"Número\", a.estado AS \"Estado\", b.whatsapp_instance, b.owner_number, b.name AS business_name FROM appointments a JOIN businesses b ON b.id = a.business_id WHERE a.fecha = CURRENT_DATE + INTERVAL '1 day' AND a.estado = 'Pendiente' AND b.active = TRUE",
        "options": {}
      },
      "id": "d1ec841e-4826-4836-b39d-c5c0385312e6",
      "name": "Leer Citas1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        816,
        -480
      ],
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construir mensajes para citas de mañana (ya filtradas por PostgreSQL)\nconst diasSemana = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\n\nconst manana = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nmanana.setDate(manana.getDate() + 1);\nconst fechaNatural = `${diasSemana[manana.getDay()]} ${manana.getDate()} de ${meses[manana.getMonth()]}`;\n\nconst resultados = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  const numero = (row['Número'] || '').toString().trim().replace(/@s\\.whatsapp\\.net/g, '').replace(/\\D/g, '');\n  const nombre = (row['Nombre'] || 'cliente').toString().trim();\n  const businessName = (row['business_name'] || 'nuestro negocio').toString().trim();\n  const hora = (row['Hora'] || '').toString().trim().substring(0,5);\n  const servicio = (row['Servicio'] || '').toString().trim();\n\n  if (numero && hora) {\n    const mensaje = `Hola ${nombre} 👋\\n\\nTe recordamos que tienes una cita en *${businessName}* mañana *${fechaNatural}* a las *${hora.substring(0,5)}*.\\n\\n✂️ Servicio: *${servicio}*\\n\\nSi necesitas cancelar o reagendar, responde este mensaje 😊`;\n    resultados.push({ json: { numero, nombre, mensaje, hora, servicio } });\n  }\n}\n\nreturn resultados;"
      },
      "id": "55420021-26ca-4235-940e-4ca99c41f038",
      "name": "Filtrar Mañana1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $json.whatsapp_instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "id": "65e4de52-d090-4187-b4c6-c93cbe81a106",
      "name": "Enviar Recordatorio WhatsApp1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1296,
        -480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Leer Citas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Citas1": {
      "main": [
        [
          {
            "node": "Filtrar Mañana1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mañana1": {
      "main": [
        [
          {
            "node": "Enviar Recordatorio WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c7e2dc8f-98de-431d-bc8b-95ea73750e40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78865b14428b3461ac0504416eb2ba5903a5482f3190c606719f27159eed62fe"
  },
  "id": "Z2sN3aLwcxKbWS7o",
  "tags": []
}