workflows/recordatorios-meyer.json
{
  "name": "Recordatorios 24h - Peluquería Meyer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * *"
            }
          ]
        }
      },
      "id": "51094806-da34-43bd-832b-e1c89d975416",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.fecha::text AS \"Fecha\", a.hora::text AS \"Hora\", a.nombre AS \"Nombre\", a.servicio AS \"Servicio\", a.numero AS \"Número\", a.estado AS \"Estado\", b.whatsapp_instance, b.owner_number FROM appointments a JOIN businesses b ON b.id = a.business_id WHERE a.fecha = CURRENT_DATE + INTERVAL '1 day' AND a.estado = 'Pendiente' AND b.active = TRUE",
        "options": {}
      },
      "id": "22f15c80-faeb-4e25-b63f-25ba34ce994b",
      "name": "Leer Citas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1.2,
      "position": [240, 0],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "meyer-postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construir mensajes para citas de mañana (ya filtradas por PostgreSQL)\nconst diasSemana = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\n\nconst manana = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nmanana.setDate(manana.getDate() + 1);\nconst fechaNatural = `${diasSemana[manana.getDay()]} ${manana.getDate()} de ${meses[manana.getMonth()]}`;\n\nconst resultados = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  const numero = (row['Número'] || '').toString().trim().replace(/@s\\.whatsapp\\.net/g, '').replace(/\\D/g, '');\n  const nombre = (row['Nombre'] || 'cliente').toString().trim();\n  const hora = (row['Hora'] || '').toString().trim();\n  const servicio = (row['Servicio'] || '').toString().trim();\n\n  if (numero && hora) {\n    const mensaje = `Hola ${nombre} 👋\\n\\nTe recordamos que tienes una cita en *Peluquería Meyer* mañana *${fechaNatural}* a las *${hora}*.\\n\\n✂️ Servicio: *${servicio}*\\n\\nSi necesitas cancelar o reagendar, responde este mensaje 😊`;\n    resultados.push({ json: { numero, nombre, mensaje, hora, servicio } });\n  }\n}\n\nreturn resultados;"
      },
      "id": "5b0b8109-c39a-4159-a9be-19dc964cfb2d",
      "name": "Filtrar Mañana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/peluqueria-beta",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2214f3-cfda-493d-81fd-12e2e8676536",
      "name": "Enviar Recordatorio WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [720, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Leer Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Citas": {
      "main": [
        [
          {
            "node": "Filtrar Mañana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mañana": {
      "main": [
        [
          {
            "node": "Enviar Recordatorio WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "207d9576-fb23-487e-a266-021c22cb8fb3",
  "id": "tzFJ9m2pJX1AheI0",
  "tags": []
}
