workflows/WhatsApp Bot - Genérico.json
{
  "name": "WhatsApp Bot - Gen\u00e9rico",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "whatsapp-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        2656
      ],
      "id": "db959ff3-394d-4cb5-aa28-7b7cd9375ffc",
      "name": "Webhook",
      "webhookId": "7a1a3b0a-9f4e-48e3-bcc9-54de8d19c7b1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "filter-group",
              "leftValue": "=={{ $json.body.data.key.remoteJid }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "filter-empty",
              "leftValue": "=={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        2656
      ],
      "id": "bfd54054-b541-48d3-b5cb-6c0cea51a634",
      "name": "Filtro Inicial"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.id, b.name, b.whatsapp_instance, b.owner_number, b.timezone, b.prompt_name, b.services_text, b.schedule_text::text AS schedule_text,\n  COALESCE(json_agg(json_build_object('id', p.id, 'name', p.name) ORDER BY p.name) FILTER (WHERE p.id IS NOT NULL), '[]'::json) AS professionals\nFROM businesses b\nLEFT JOIN professionals p ON p.business_id = b.id AND p.active = true\nWHERE b.whatsapp_instance = '{{ $json.body.instance }}' AND b.active = true\nGROUP BY b.id\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        416,
        2656
      ],
      "id": "ddebd0fe-fb5b-43a8-a730-7b4e5f489575",
      "name": "Lookup Negocio",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-negocio-existe",
              "leftValue": "=={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        2656
      ],
      "id": "cde45a5c-94d6-47c0-a854-af6aa41ab8c8",
      "name": "\u00bfNegocio Existe?"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Procesar Mensaje \u2014 versi\u00f3n con filtro de audio (Bloque 1 + 2)\n// ============================================================\n\n// \u2500\u2500 FILTRO fromMe \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif ($('Webhook').item.json.body.data.key.fromMe === true) {\n  return [];\n}\n\n// \u2500\u2500 FILTRO AUDIO (detecci\u00f3n) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst esAudio = !!$('Webhook').item.json.body.data.message?.audioMessage ||\n                !!$('Webhook').item.json.body.data.message?.pttMessage;\n\n// \u2500\u2500 DATOS DEL NEGOCIO desde Lookup \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst negocio = $('Lookup Negocio').item.json;\nconst businessId        = negocio.id;\nconst whatsappInstance  = negocio.whatsapp_instance;\nconst ownerNumber       = negocio.owner_number;\nconst promptName        = negocio.prompt_name || negocio.name;\nconst servicesText      = negocio.services_text || '';\nconst professionalsRaw = negocio.professionals;\nlet professionals = [];\nif (Array.isArray(professionalsRaw)) {\n  professionals = professionalsRaw;\n} else if (typeof professionalsRaw === 'string' && professionalsRaw) {\n  try { professionals = JSON.parse(professionalsRaw); } catch(e) { professionals = []; }\n}\nconst professionalsText = professionals.map(p => p.name).join(', ');\nconst multiProfessional  = professionals.length > 0;\nconst timezone          = negocio.timezone || 'America/Bogota';\n\nlet scheduleText;\ntry {\n  scheduleText = JSON.parse(negocio.schedule_text || '{}');\n} catch(e) {\n  scheduleText = {};\n}\n\n// \u2500\u2500 RATE LIMIT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst numero = $('Webhook').item.json.body.data.key.remoteJid;\nconst ahora = Date.now();\nconst ventana = 60 * 60 * 1000;\nconst limite = 50;\n\nconst historialRaw = $getWorkflowStaticData('global');\nif (!historialRaw.rateLimits) historialRaw.rateLimits = {};\nconst rateLimitKey = `${businessId}_${numero}`;\nconst historial = historialRaw.rateLimits[rateLimitKey] || [];\nconst recientes = historial.filter(t => ahora - t < ventana);\n\nif (recientes.length >= limite) return [];\n\nrecientes.push(ahora);\nhistorialRaw.rateLimits[rateLimitKey] = recientes;\n\n// \u2500\u2500 N\u00daMERO LIMPIO (movido arriba para usarlo en el filtro de audio) \u2500\u2500\nconst numeroLimpio = numero.replace('@s.whatsapp.net', '').replace(/\\D/g, '');\n\n// \u2500\u2500 FILTRO MENSAJES NO-TEXTO \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst msg = $('Webhook').item.json.body.data.message || {};\nconst esNoTexto = !!(\n  msg.audioMessage   ||\n  msg.pttMessage     ||\n  msg.imageMessage   ||\n  msg.videoMessage   ||\n  msg.stickerMessage ||\n  msg.documentMessage||\n  msg.locationMessage ||\n  msg.liveLocationMessage\n);\n\nif (esNoTexto) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${$env.EVOLUTION_API_URL}/message/sendText/${whatsappInstance}`,\n    headers: { 'apikey': $env.EVOLUTION_API_KEY, 'Content-Type': 'application/json' },\n    body: { number: numeroLimpio, text: 'Solo proceso mensajes de texto \ud83d\ude0a Escr\u00edbeme lo que necesitas y con gusto te ayudo.' },\n    json: true\n  });\n  return [];\n}\n\n// \u2500\u2500 FECHA HOY \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst ahoraTZ = new Date(new Date().toLocaleString('en-US', { timeZone: timezone }));\nconst dia  = String(ahoraTZ.getDate()).padStart(2, '0');\nconst mes  = String(ahoraTZ.getMonth() + 1).padStart(2, '0');\nconst anio = ahoraTZ.getFullYear();\nconst fechaHoy = `${dia}/${mes}/${anio}`;\n\n// \u2500\u2500 CALENDARIO PR\u00d3XIMOS 7 D\u00cdAS \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst diasSemana = ['Domingo','Lunes','Martes','Mi\u00e9rcoles','Jueves','Viernes','S\u00e1bado'];\nconst manana = new Date(new Date().toLocaleString('en-US', { timeZone: timezone }));\nmanana.setDate(manana.getDate() + 1);\nlet calendario = `Ma\u00f1ana: ${String(manana.getDate()).padStart(2,'0')}/${String(manana.getMonth()+1).padStart(2,'0')}/${manana.getFullYear()}\\n`;\nfor (let i = 1; i <= 7; i++) {\n  const d = new Date(new Date().toLocaleString('en-US', { timeZone: timezone }));\n  d.setDate(d.getDate() + i);\n  calendario += `${diasSemana[d.getDay()]}: ${String(d.getDate()).padStart(2,'0')}/${String(d.getMonth()+1).padStart(2,'0')}/${d.getFullYear()}\\n`;\n}\n\n// \u2500\u2500 HORARIO TEXTO PARA PROMPT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst toAmPm = h => h < 12 ? `${h === 0 ? 12 : h}:00 AM` : `${h === 12 ? 12 : h-12}:00 PM`;\nlet horarioTextoPrompt = '';\nfor (let d = 0; d <= 6; d++) {\n  const key = String(d);\n  if (scheduleText[key]) {\n    const { open, close } = scheduleText[key];\n    horarioTextoPrompt += `${diasSemana[d]}: ${toAmPm(open)} - ${toAmPm(close)}\\n`;\n  } else {\n    horarioTextoPrompt += `${diasSemana[d]}: Cerrado\\n`;\n  }\n}\n\n// \u2500\u2500 EXTRAER MENSAJE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst mensaje = $('Webhook').item.json.body.data.message?.conversation ||\n                $('Webhook').item.json.body.data.message?.extendedTextMessage?.text || '';\n\n// \u2500\u2500 VALIDACI\u00d3N DE HORARIO \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction detectarFueraDeHorario(texto, schedule, tzName) {\n  const t = (texto || '').toLowerCase()\n    .replace(/[\u00e1\u00e0\u00e4]/g,'a').replace(/[\u00e9\u00e8\u00eb]/g,'e')\n    .replace(/[\u00ed\u00ec\u00ef]/g,'i').replace(/[\u00f3\u00f2\u00f6]/g,'o')\n    .replace(/[\u00fa\u00f9\u00fc]/g,'u');\n\n  const nombresDiasNorm = ['domingo','lunes','martes','miercoles','jueves','viernes','sabado'];\n  let diaIndex = null;\n  for (let i = 0; i < nombresDiasNorm.length; i++) {\n    if (t.includes(nombresDiasNorm[i])) { diaIndex = i; break; }\n  }\n  if (diaIndex === null) {\n    const mf = t.match(/\\b(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})\\b/);\n    if (mf) {\n      const dFecha = new Date(parseInt(mf[3]), parseInt(mf[2])-1, parseInt(mf[1]));\n      diaIndex = dFecha.getDay();\n    }\n  }\n  if (diaIndex === null) {\n    const hoyTZ = new Date(new Date().toLocaleString('en-US', { timeZone: tzName }));\n    diaIndex = hoyTZ.getDay();\n  }\n\n  const config = schedule[String(diaIndex)];\n  if (!config) return { fueraDeHorario: true, mensajeHorario: `Lo sentimos, ese d\u00eda no atendemos. \u00bfTe puedo agendar en otro d\u00eda? \ud83d\ude0a` };\n\n  const abreH = config.open;\n  const cierraH = config.close;\n  let hora = null;\n\n  const mHHMM = t.match(/\\b(\\d{1,2}):(\\d{2})\\s*([ap]\\.?m\\.?)?/);\n  if (mHHMM) {\n    let h = parseInt(mHHMM[1]);\n    const m = parseInt(mHHMM[2]);\n    const suf = (mHHMM[3] || '').replace(/\\./g, '');\n    if (suf.startsWith('p') && h < 12) h += 12;\n    if (suf.startsWith('a') && h === 12) h = 0;\n    hora = h + m / 60;\n  }\n  if (hora === null) { const mPm = t.match(/\\b(\\d{1,2})\\s*p\\.?m\\.?\\b/); if (mPm) { let h = parseInt(mPm[1]); if (h < 12) h += 12; hora = h; } }\n  if (hora === null) { const mAm = t.match(/\\b(\\d{1,2})\\s*a\\.?m\\.?\\b/); if (mAm) { let h = parseInt(mAm[1]); if (h === 12) h = 0; hora = h; } }\n  if (hora === null) { const mT = t.match(/(?:a las|las)\\s+(\\d{1,2})(?:\\s+de la|\\s+en la)?\\s+(?:tarde|noche)/); if (mT) { let h = parseInt(mT[1]); if (h < 12) h += 12; hora = h; } }\n  if (hora === null) { const mM = t.match(/(?:a las|las)\\s+(\\d{1,2})(?:\\s+de la)?\\s+manana/); if (mM) { let h = parseInt(mM[1]); if (h === 12) h = 0; hora = h; } }\n\n  if (hora === null) return { fueraDeHorario: false };\n  if (hora >= abreH && hora < cierraH) return { fueraDeHorario: false };\n\n  return {\n    fueraDeHorario: true,\n    mensajeHorario: `Lo sentimos, esa hora est\u00e1 fuera de nuestro horario. Atendemos de ${toAmPm(abreH)} a ${toAmPm(cierraH)}. \u00bfTe puedo agendar en otro horario? \ud83d\ude0a`\n  };\n}\n\nconst validacion = detectarFueraDeHorario(mensaje, scheduleText, timezone);\n\nif (!mensaje.trim()) return [];\n\nreturn [{\n  json: {\n    textoOriginal:    mensaje,\n    numero:           numero,\n    numeroLimpio:     numeroLimpio,\n    timestamp:        $('Webhook').item.json.body.data.messageTimestamp,\n    procesado:        true,\n    fechaHoy:         fechaHoy,\n    calendario:       calendario,\n    fueraDeHorario:   validacion.fueraDeHorario,\n    mensajeHorario:   validacion.mensajeHorario || null,\n    businessId:       businessId,\n    whatsappInstance: whatsappInstance,\n    ownerNumber:      ownerNumber,\n    promptName:       promptName,\n    servicesText:     servicesText,\n    horarioTexto:     horarioTextoPrompt,\n    professionals:     professionals,\n    professionalsText: professionalsText,\n    multiProfessional:  multiProfessional\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        2640
      ],
      "id": "18430009-fa7d-45c0-8775-0aade482d607",
      "name": "Procesar Mensaje"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH horario AS (\n  SELECT\n    key::int                              AS dia_semana,\n    (value->>'open')::int                 AS hora_open,\n    (value->>'close')::int * 60 - 30      AS hora_close_last_min\n  FROM businesses,\n       jsonb_each(schedule_text)\n  WHERE id = {{ $('Procesar Mensaje').item.json.businessId }}\n),\nexcepciones AS (\n  SELECT fecha, tipo, hora_inicio, hora_fin\n  FROM schedule_exceptions\n  WHERE business_id = {{ $('Procesar Mensaje').item.json.businessId }}\n    AND professional_id IS NULL\n    AND fecha >= (NOW() AT TIME ZONE 'America/Bogota')::date\n),\nslots AS (\n  SELECT\n    d.fecha_slot,\n    generate_series(\n      d.fecha_slot + (h.hora_open || ' hours')::interval,\n      d.fecha_slot + (h.hora_close_last_min || ' minutes')::interval,\n      '30 minutes'::interval\n    )::time AS hora\n  FROM (\n    SELECT (NOW() AT TIME ZONE 'America/Bogota')::date + n AS fecha_slot\n    FROM generate_series(0, 7) AS n\n  ) d\n  JOIN horario h ON EXTRACT(DOW FROM d.fecha_slot) = h.dia_semana\n  WHERE NOT EXISTS (\n    SELECT 1 FROM excepciones e\n    WHERE e.fecha = d.fecha_slot AND e.tipo = 'cerrado'\n  )\n)\nSELECT\n  s.fecha_slot::text            AS fecha,\n  to_char(s.hora, 'HH12:MI AM') AS slot\nFROM slots s\nWHERE s.hora NOT IN (\n  SELECT hora FROM appointments\n  WHERE business_id = {{ $('Procesar Mensaje').item.json.businessId }}\n    AND fecha = s.fecha_slot\n    AND estado != 'Cancelada'\n)\nAND NOT EXISTS (\n  SELECT 1 FROM excepciones e\n  WHERE e.fecha = s.fecha_slot\n    AND e.tipo = 'horario_especial'\n    AND (s.hora < e.hora_inicio OR s.hora >= e.hora_fin)\n)\nAND (\n  s.fecha_slot > (NOW() AT TIME ZONE 'America/Bogota')::date\n  OR (\n    s.fecha_slot = (NOW() AT TIME ZONE 'America/Bogota')::date\n    AND s.hora > (NOW() AT TIME ZONE 'America/Bogota')::time\n  )\n)\nORDER BY s.fecha_slot, s.hora",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        2640
      ],
      "id": "2767194e-b5f4-4eba-af3e-f356592e7259",
      "name": "Leer Slots Disponibles",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slots = $input.all();\nconst diasSemana = ['Domingo','Lunes','Martes','Mi\u00e9rcoles','Jueves','Viernes','S\u00e1bado'];\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\n\nconst porFecha = {};\nfor (const item of slots) {\n  const fecha = item.json.fecha;\n  const slot  = item.json.slot;\n  if (!porFecha[fecha]) porFecha[fecha] = [];\n  porFecha[fecha].push(slot);\n}\n\nlet disponibilidad = '';\nfor (const [fecha, horas] of Object.entries(porFecha)) {\n  const d = new Date(fecha + 'T00:00:00');\n  const nombreDia = diasSemana[d.getUTCDay()];\n  const dia = d.getUTCDate();\n  const mes = meses[d.getUTCMonth()];\n  disponibilidad += `${nombreDia} ${dia} de ${mes}: ${horas.join(', ')}\\n`;\n}\n\nlet sesionContexto = '';\nlet debugSesion = '';\nconst _diasSC = ['domingo','lunes','martes','mi\u00e9rcoles','jueves','viernes','s\u00e1bado'];\nconst _mesesSC = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nfunction _fechaNatSC(f){ const dd=new Date(f+'T00:00:00'); return `${_diasSC[dd.getUTCDay()]} ${dd.getUTCDate()} de ${_mesesSC[dd.getUTCMonth()]}`; }\nfunction _horaAmPmSC(h){ const hh=(h||'').substring(0,5); const p=hh.split(':').map(Number); const a=p[0], b=p[1]; const ap=a<12?'AM':'PM'; const h12=a===0?12:a>12?a-12:a; return `${h12}:${String(b).padStart(2,'0')} ${ap}`; }\ntry {\n  const sesion = $('Leer Sesi\u00f3n activa').first().json;\n  debugSesion = JSON.stringify(sesion);\n  if (sesion && sesion.id) {\n    const citas = Array.isArray(sesion.citas) ? sesion.citas : JSON.parse(sesion.citas);\n    if (citas && citas.length > 0) {\n      sesionContexto = `\\nSESI\u00d3N ACTIVA \u2014 El cliente est\u00e1 en proceso de ${sesion.accion} una cita.\\nCITAS DISPONIBLES PARA SELECCI\u00d3N:\\n`;\n      citas.forEach((c, i) => {\n        sesionContexto += `Opci\u00f3n ${i+1}: ID_CITA=${c.id} | ${c.servicio} | ${_fechaNatSC(c.fecha)} | ${_horaAmPmSC(c.hora)}\\n`;\n      });\n      sesionContexto += `\\nUsa EXACTAMENTE el d\u00eda y la hora mostrados arriba (ya vienen en lenguaje natural y AM/PM). NUNCA recalcules el d\u00eda de la semana por tu cuenta.\\nCuando el cliente diga un n\u00famero (1, 2, etc.), usa el ID_CITA correspondiente para emitir el c\u00f3digo de acci\u00f3n.\\n`;\n    }\n  }\n} catch(e) {\n  debugSesion = 'error: ' + e.message;\n}\n\nconst prev = $('Procesar Mensaje').item.json;\nreturn [{\n  json: {\n    ...prev,\n    disponibilidad: disponibilidad || 'Sin disponibilidad en los pr\u00f3ximos 7 d\u00edas',\n    sesionContexto,\n    debugSesion\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        2640
      ],
      "id": "d1231194-52ec-4c4e-8b11-77a3a8b0f1d0",
      "name": "Formatear Disponibilidad"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2208,
        2672
      ],
      "id": "6407f6c0-9888-4c59-b60b-7bc6e3781101",
      "name": "Wait",
      "webhookId": "4ee81907-f6c4-43ea-a460-7503f3834d62"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total FROM appointments WHERE business_id = {{ $('Procesar Mensaje').item.json.businessId }} AND fecha = TO_DATE('{{ $('AI Agent').item.json.output.split('|')[2] }}', 'DD/MM/YYYY') AND hora = '{{ $('AI Agent').item.json.output.split('|')[3].split('\\n')[0].trim() }}'::time AND estado != 'Cancelada'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2736,
        2256
      ],
      "id": "54a3814d-f57e-4b10-b891-ddd4b046e86d",
      "name": "Leer Disponibilidad",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const total  = $input.first().json.total;\nconst numero = ($('Procesar Mensaje').item.json.numero || '').replace(/@s\\.whatsapp\\.net/g, '').replace(/\\D/g, '');\nconst partes = $('AI Agent').item.json.output.split('|');\n  const professionalName = (partes[4] || '').trim();\nreturn [{ json: {\n  disponible:        total == 0,\n  fechaDeseada:      partes[2]?.trim(),\n  horaDeseada:       partes[3]?.split('\\n')[0].trim(),\n  numero,\n  businessId:        $('Procesar Mensaje').item.json.businessId,\n  whatsappInstance:  $('Procesar Mensaje').item.json.whatsappInstance,\n  professionalName,\n  ownerNumber:       $('Procesar Mensaje').item.json.ownerNumber\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        2256
      ],
      "id": "2ce8bcff-b885-47b4-ba39-9adda71fb646",
      "name": "Verificar Slot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-disponible",
              "leftValue": "={{ $json.disponible }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3104,
        2256
      ],
      "id": "16c157f5-3b1f-490f-b924-2aa0bc662722",
      "name": "\u00bfDisponible?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO appointments (business_id, fecha, hora, nombre, servicio, numero, estado, professional_id)\nVALUES ({{ $('Verificar Slot').item.json.businessId }}, TO_DATE('{{ $('AI Agent').item.json.output.split('|')[2] }}', 'DD/MM/YYYY'), '{{ $('AI Agent').item.json.output.split('|')[3].split('\\\\n')[0].trim() }}'::time, '{{ $('Webhook').item.json.body.data.pushName }}', '{{ $('AI Agent').item.json.output.split('|')[1] }}', '{{ $('Procesar Mensaje').item.json.numero.replace('@s.whatsapp.net','') }}', 'Pendiente', (SELECT id FROM professionals WHERE name = '{{ $('Verificar Slot').item.json.professionalName }}' AND business_id = {{ $('Procesar Mensaje').item.json.businessId }} LIMIT 1))\nRETURNING id, fecha::text, hora::text, nombre, servicio, numero, estado, professional_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3296,
        2256
      ],
      "id": "1469b5df-2b62-4b63-84e9-e4e021cd7ddf",
      "name": "Insertar Cita",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $('AI Agent').item.json.output.split('|');\nconst servicio = output[1] || '';\nconst fecha = output[2] || '';\nconst hora = (output[3] || '').split('\\n')[0].trim();\nconst nombre = $('Webhook').item.json.body.data.pushName || 'Cliente';\nconst numero = ($('Procesar Mensaje').item.json.numero || '').replace('@s.whatsapp.net', '');\n\nconst ownerNumber = $('Verificar Slot').item.json.ownerNumber;\nconst whatsappInstance = $('Verificar Slot').item.json.whatsappInstance;\nconst promptName = $('Procesar Mensaje').item.json.promptName;\nconst professionalName = $('Verificar Slot').item.json.professionalName;\n\n// Fecha DD/MM/YYYY \u2192 lenguaje natural\nconst diasSemana = ['domingo','lunes','martes','mi\u00e9rcoles','jueves','viernes','s\u00e1bado'];\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nlet fechaNatural = fecha;\ntry {\n  const [dd, mm, yyyy] = fecha.split('/');\n  const d = new Date(parseInt(yyyy), parseInt(mm)-1, parseInt(dd));\n  fechaNatural = `${diasSemana[d.getDay()]} ${d.getDate()} de ${meses[d.getMonth()]}`;\n} catch(e) {}\n\n// Hora \u2192 AM/PM (maneja HH:MM y HH:MM AM/PM)\nlet horaAmPm = hora;\ntry {\n  const matchAmPm = hora.match(/^(\\d{1,2}):(\\d{2})\\s*(AM|PM)$/i);\n  if (matchAmPm) {\n    // Ya viene con AM/PM \u2014 normalizar formato\n    let h = Number(matchAmPm[1]);\n    const m = matchAmPm[2];\n    const suffix = matchAmPm[3].toUpperCase();\n    if (suffix === 'PM' && h !== 12) h += 12;\n    if (suffix === 'AM' && h === 12) h = 0;\n    const ampm2 = h < 12 ? 'AM' : 'PM';\n    const h12 = h === 0 ? 12 : h > 12 ? h - 12 : h;\n    horaAmPm = `${h12}:${m} ${ampm2}`;\n  } else {\n    // Formato 24h HH:MM\n    const [hh, min] = hora.split(':').map(Number);\n    const ampm = hh < 12 ? 'AM' : 'PM';\n    const h12 = hh === 0 ? 12 : hh > 12 ? hh - 12 : hh;\n    horaAmPm = `${h12}:${String(min).padStart(2,'0')} ${ampm}`;\n  }\n} catch(e) {}\n\nconst profLine = professionalName ? `\\n\ud83d\udc64 *Profesional:* ${professionalName}` : '';\nconst textoDueno = `\ud83d\udd14 *Nueva cita agendada*\\n\\n\ud83d\udc64 *Cliente:* ${nombre}\\n\ud83d\udcde *N\u00famero:* ${numero}\\n\u2702\ufe0f *Servicio:* ${servicio}${profLine}\\n\ud83d\udcc5 *Fecha:* ${fechaNatural}\\n\u23f0 *Hora:* ${horaAmPm}\\n\\n_Estado: Pendiente_ \u2705`;\nconst profLineCliente = professionalName ? `\\n\ud83d\udc64 *Profesional:* ${professionalName}` : '';\nconst textoCliente = `\u2705 \u00a1Tu cita qued\u00f3 confirmada!\\n\\n\u2702\ufe0f *Servicio:* ${servicio}${profLineCliente}\\n\ud83d\udcc5 *Fecha:* ${fechaNatural}\\n\u23f0 *Hora:* ${horaAmPm}\\n\\n\u00a1Te esperamos en ${promptName}! \ud83d\udc87\u200d\u2642\ufe0f\\nCualquier cambio, escr\u00edbenos aqu\u00ed mismo \ud83d\ude0a`;\n\nreturn [{\n  json: {\n    ownerNumber,\n    whatsappInstance,\n    numeroCliente: numero,\n    nombreCliente: nombre,\n    servicio,\n    fecha,\n    hora,\n    textoDueno,\n    textoCliente,\n    bodyDueno: JSON.stringify({ number: ownerNumber, text: textoDueno }),\n    bodyCliente: JSON.stringify({ number: numero, text: textoCliente })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        2256
      ],
      "id": "66350bb0-d2a0-4df9-8f06-12b7f2770c8b",
      "name": "Construir Mensajes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.bodyDueno }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3680,
        2256
      ],
      "id": "f5432348-c585-4cb2-a236-a5f24a8ce2cd",
      "name": "Notificar Due\u00f1o"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Construir Mensajes').item.json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Construir Mensajes').item.json.bodyCliente }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        2256
      ],
      "id": "90554054-149d-40aa-90b9-4d8ccdb65259",
      "name": "Confirmar Cliente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Procesar Mensaje').item.json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"
            },
            {
              "name": "text",
              "value": "={{ $('AI Agent').item.json.output.includes('CITA_CONFIRMADA') ? '\u2705 \u00a1Cita registrada! En breve recibir\u00e1s la confirmaci\u00f3n.' : $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2896,
        3248
      ],
      "id": "228a3f78-44d9-4671-be9f-25b606202cfb",
      "name": "Respuesta Normal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-confirmada-2",
              "leftValue": "={{ $('AI Agent').item.json.output }}",
              "rightValue": "CITA_CONFIRMADA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2592,
        3216
      ],
      "id": "5a9cee42-4142-46a8-affc-e7d07bdda52d",
      "name": "\u00bfConfirmar o Responder?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Verificar Slot').item.json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numero }}"
            },
            {
              "name": "text",
              "value": "Lo sentimos, ese horario ya est\u00e1 reservado. \u00bfTe gustar\u00eda elegir otra hora? \ud83d\ude0a"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3728,
        2448
      ],
      "id": "385414a5-0ba6-428f-bccf-f8e6ab13be65",
      "name": "Aviso Slot Ocupado"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "CITA_CONFIRMADA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e78c3dde-1595-4e7e-9d16-c1d897063f65"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar Cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b6f6729a-2af9-4f4d-b953-348487df929d",
                    "leftValue": "={{ $('AI Agent').item.json.output\n}}\n",
                    "rightValue": "GESTIONAR_CITA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gestionar Cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "969ce437-2dfa-4304-ad84-4baba6387b4e",
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "CANCELAR_CITA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar Cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ebe2b4e7-37cf-4eb7-a3b4-f747cff22fb9",
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "REAGENDAR_CITA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reagendar Cita"
            }
          ]
        },
        "looseTypeValidation": "={{ false }}",
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2352,
        2624
      ],
      "id": "9d49cf1a-18ac-4ccb-8694-fd5a963ad0bb",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, fecha::text, hora::text, servicio, estado\nFROM appointments\nWHERE numero = '{{ $('Procesar Mensaje').item.json.numero.replace('@s.whatsapp.net','') }}'\n  AND business_id = {{ $('Procesar Mensaje').item.json.businessId }}\n  AND fecha >= (NOW() AT TIME ZONE 'America/Bogota')::date\n  AND estado IN ('Pendiente', 'Confirmada')\nORDER BY fecha ASC, hora ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2736,
        2640
      ],
      "id": "70442321-7c41-414f-8cf2-15a265118b46",
      "name": "Leer Citas Cliente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const citas = $input.all();\nconst outputRaw = $('AI Agent').item.json.output;\nconst matchAccion = outputRaw.match(/GESTIONAR_CITA\\|(cancelar|reagendar)/);\nconst accion = matchAccion ? matchAccion[1] : 'cancelar';\nconst numero = $('Procesar Mensaje').item.json.numeroLimpio;\nconst whatsappInstance = $('Procesar Mensaje').item.json.whatsappInstance;\nconst businessId = $('Procesar Mensaje').item.json.businessId;\n\nconst diasSemana = ['domingo','lunes','martes','mi\u00e9rcoles','jueves','viernes','s\u00e1bado'];\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\n\nlet listaCitas = '';\nconst citasParaSession = [];\n\ncitas.forEach((item, i) => {\n  const c = item.json;\n  if (!c || !c.hora || !c.fecha || !c.id) return;\n  const d = new Date(c.fecha + 'T00:00:00');\n  const fechaNatural = `${diasSemana[d.getUTCDay()]} ${d.getUTCDate()} de ${meses[d.getUTCMonth()]}`;\n  const hora = c.hora.substring(0, 5);\n  const [hh, mm] = hora.split(':').map(Number);\n  const ampm = hh < 12 ? 'AM' : 'PM';\n  const h12 = hh === 0 ? 12 : hh > 12 ? hh - 12 : hh;\n  const horaAmPm = `${h12}:${String(mm).padStart(2,'0')} ${ampm}`;\n  listaCitas += `${i + 1}. ${c.servicio} \u2014 ${fechaNatural} a las ${horaAmPm}\\n`;\n  citasParaSession.push({ id: c.id, servicio: c.servicio, fecha: c.fecha, hora });\n});\n\nlet mensaje = '';\nif (citasParaSession.length === 0) {\n  mensaje = `No encontramos citas pr\u00f3ximas agendadas a tu n\u00famero. \u00bfPuedo ayudarte con algo m\u00e1s? \ud83d\ude0a`;\n} else if (citasParaSession.length === 1) {\n  const verbo = accion === 'cancelar' ? 'cancelar' : 'reagendar';\n  mensaje = `Encontr\u00e9 esta cita:\\n\\n${listaCitas}\\n\u00bfConfirmas que deseas ${verbo}? Responde *s\u00ed* o con *1* para confirmar \ud83d\ude0a`;\n} else {\n  if (accion === 'cancelar') {\n    mensaje = `Encontr\u00e9 estas citas pr\u00f3ximas:\\n\\n${listaCitas}\\nResponde con el n\u00famero de la cita que deseas cancelar \ud83d\ude0a`;\n  } else {\n    mensaje = `Encontr\u00e9 estas citas pr\u00f3ximas:\\n\\n${listaCitas}\\nResponde con el n\u00famero de la cita que deseas reagendar y te ayudo a elegir el nuevo horario \ud83d\ude0a`;\n  }\n}\n\nreturn [{ json: {\n  numero,\n  whatsappInstance,\n  businessId,\n  accion,\n  tieneCitas: citasParaSession.length > 0,\n  mensaje,\n  citasIds: citasParaSession,\n  citasJSON: JSON.stringify(citasParaSession)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        2640
      ],
      "id": "dfe3fb21-379b-487e-8d82-2b4142de3f16",
      "name": "Formatear Citas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Formatear Citas').item.json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Formatear Citas').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $('Formatear Citas').item.json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3552,
        2736
      ],
      "id": "4e60eee5-c5e1-4147-9352-6fd703cc3eff",
      "name": "Enviar Lista de citas"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments\nSET estado = 'Cancelada', updated_at = NOW()\nWHERE id = {{ $('AI Agent').item.json.output.split('|')[1] }}\n  AND business_id = {{ $('Procesar Mensaje').item.json.businessId }}\n  AND estado IN ('Pendiente', 'Confirmada')\nRETURNING id, fecha::text, hora::text, servicio, estado, professional_id, nombre",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2720,
        2848
      ],
      "id": "9a525f82-9a06-4879-88d4-161764c00f60",
      "name": "Ejecutar Cancelaci\u00f3n",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DASHBOARD_URL }}/api/webhooks/sync-cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"appointmentId\": {{ $json.id }},\n  \"businessId\": {{ $('Procesar Mensaje').item.json.businessId }}\n}",
        "options": {}
      },
      "id": "e5d08b46-2e19-4bd7-9cff-0db65b50755c",
      "name": "Sync Cancel Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        2816
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments\nSET fecha = TO_DATE('{{ $('AI Agent').item.json.output.split('|')[2] }}', 'DD/MM/YYYY'),\n    hora  = '{{ $('AI Agent').item.json.output.split('|')[3].split('\\n')[0].trim() }}'::time,\n    estado = 'Pendiente',\n    updated_at = NOW()\nWHERE id = {{ $('AI Agent').item.json.output.split('|')[1] }}\n  AND business_id = {{ $('Procesar Mensaje').item.json.businessId }}\n  AND estado IN ('Pendiente', 'Confirmada')\nRETURNING id, fecha::text, hora::text, servicio, estado, professional_id, nombre",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2704,
        3072
      ],
      "id": "01df68f1-3422-46ea-b78b-edd13ada5de3",
      "name": "Ejecutar Reagendamiento",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Procesar Mensaje').item.json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2928,
        3088
      ],
      "id": "5d56f4d1-e48d-4e67-9189-1f386b876d1e",
      "name": "Confirmar Reagendamiento"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, accion, citas\nFROM sessions\nWHERE business_id = {{ $json.businessId }}\n  AND numero = '{{ $json.numeroLimpio }}'\n  AND expires_at > NOW()\nORDER BY created_at DESC\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        2640
      ],
      "id": "ec364a51-63fc-4de2-ae1d-4d90ef392ded",
      "name": "Leer Sesi\u00f3n activa",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM sessions\nWHERE business_id = {{ $json.businessId }}\n  AND numero = '{{ $json.numero }}';\n\nINSERT INTO sessions (business_id, numero, accion, citas)\nVALUES (\n  {{ $json.businessId }},\n  '{{ $json.numero }}',\n  '{{ $json.accion }}',\n  '{{ $json.citasJSON }}'::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3376,
        2576
      ],
      "id": "132be1f5-8422-4211-ae18-31ecb0aa54fa",
      "name": "Guardar Sesi\u00f3n",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM sessions\nWHERE business_id = {{ $('Procesar Mensaje').item.json.businessId }}\n  AND numero = '{{ $('Procesar Mensaje').item.json.numeroLimpio }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3552,
        3008
      ],
      "id": "d7cd22c5-6f5e-41fa-8d93-f028675e2944",
      "name": "Limpiar Sesi\u00f3n Cancelaci\u00f3n",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM sessions\nWHERE business_id = {{ $('Procesar Mensaje').item.json.businessId }}\n  AND numero = '{{ $('Procesar Mensaje').item.json.numeroLimpio }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3136,
        3104
      ],
      "id": "adfac214-664f-41f8-8fdb-04409da8ce15",
      "name": "Limpiar Sesi\u00f3n Reagendamiento",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0edff82-65f5-41ff-ac61-7fd37a495cbd",
              "leftValue": "={{ $json.tieneCitas }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3136,
        2640
      ],
      "id": "98251388-e426-495a-88b7-72bca48dcde2",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT messages, updated_at\nFROM conversation_history\nWHERE business_id = {{ $json.businessId }}\n  AND numero = '{{ $json.numeroLimpio }}'\n  AND expires_at > NOW()\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        2640
      ],
      "id": "7b57f847-c30b-4020-b0dd-7e30c19cb2d7",
      "name": "Leer Historial",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_history (business_id, numero, messages, updated_at, expires_at)\nVALUES (\n  {{ $('AI Agent').item.json.businessId }},\n  '{{ $('AI Agent').item.json.numeroLimpio }}',\n  '{{ $('AI Agent').item.json.historyJSON }}'::jsonb,\n  NOW(),\n  NOW() + INTERVAL '2 hours'\n)\nON CONFLICT (business_id, numero)\nDO UPDATE SET\n  messages   = EXCLUDED.messages,\n  updated_at = EXCLUDED.updated_at,\n  expires_at = EXCLUDED.expires_at;\n\nDELETE FROM conversation_history WHERE expires_at < NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2080,
        2672
      ],
      "id": "ebffa29d-1bf7-4d0c-8d52-6ca70061604c",
      "name": "Guardar Historial",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AI Agent \u2014 LLM Orquestador\n// Fallback chain: Gemini 2.5 Flash-Lite \u2192 Cerebras gpt-oss-120b \u2192 Groq gpt-oss-120b\n// Reemplaza: AI Agent (langchain) + Groq Chat Model + Simple Memory\n// Modo: Run Once for All Items\n// El nodo se llama \"AI Agent\" a prop\u00f3sito: ~13 nodos downstream leen\n// $('AI Agent').item.json.output \u2014 renombrarlo evita tocar el Switch y las ramas.\n// ============================================================\n\nconst d = $('Formatear Disponibilidad').first().json;\n\n// Historial previo (de Leer Historial; Postgres JSONB ya viene parseado a array JS)\nlet prior = [];\ntry {\n  const raw = $('Leer Historial').first().json.messages;\n  prior = Array.isArray(raw) ? raw : (raw ? JSON.parse(raw) : []);\n} catch (e) { prior = []; }\n\n// \u2500\u2500 RESET POR INACTIVIDAD \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Si el \u00faltimo mensaje fue hace m\u00e1s de 1 hora, el cliente\n// empez\u00f3 una nueva conversaci\u00f3n. Ignoramos el historial anterior.\nlet gapMessage = '';\nconst histUpdatedAt = $('Leer Historial').first().json.updated_at;\nif (histUpdatedAt) {\n  const minsSince = (Date.now() - new Date(histUpdatedAt).getTime()) / 60000;\n  if (minsSince > 60) {\n    prior = [];\n  } else if (minsSince > 10) {\n    gapMessage = '\\nNOTA: Pasaron m\u00e1s de ' + Math.round(minsSince) + ' minutos desde el \u00faltimo mensaje del cliente. Si el cliente NO retoma el tema anterior, preg\u00fantale si continuamos con lo que habl\u00e1bamos o si prefiere empezar de nuevo.';\n  }\n}\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nconst priorEsc = JSON.stringify(prior).replace(/'/g, \"''\"); // safe para embeber en '...'::jsonb\n\n// \u2500\u2500 0. SHORT-CIRCUIT FUERA DE HORARIO \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// [DECISI\u00d3N DE INGENIER\u00cdA A\u00d1ADIDA \u2014 NO estaba en el dise\u00f1o aprobado]\n// fueraDeHorario es booleano y determinista. Resolverlo en c\u00f3digo evita una\n// llamada al LLM y corrige un bug latente: el prompt original referenciaba\n// \"Si fueraDeHorario = true...\" pero el modelo NUNCA recib\u00eda el valor real del\n// booleano, as\u00ed que no pod\u00eda cumplir la regla de forma fiable.\n// >>> Si NO quieres este comportamiento, borra este bloque completo. <<<\nif (d.fueraDeHorario === true && d.mensajeHorario) {\n  return [{ json: {\n    output: d.mensajeHorario,\n    rawOutput: d.mensajeHorario,\n    provider: 'short-circuit-horario',\n    reasoning: null,\n    debugError: null,\n    businessId: d.businessId,\n    numeroLimpio: d.numeroLimpio,\n    historyJSON: priorEsc            // no a\u00f1adimos turnos en un short-circuit\n  }}];\n}\n\n// \u2500\u2500 1. SYSTEM PROMPT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst systemPrompt =\n`Eres el asistente virtual de ${d.promptName}.\n\nINSTRUCCI\u00d3N PRINCIPAL:\nTienes acceso a los horarios disponibles reales del negocio.\nSOLO muestra horarios cuando el cliente indique una fecha espec\u00edfica.\nSi no hay fecha \u2192 pregunta primero qu\u00e9 d\u00eda prefiere. NUNCA muestres todos los d\u00edas disponibles sin que el cliente haya dicho un d\u00eda.\n\nSERVICIOS Y PRECIOS:\n${d.servicesText}\n\nPROFESIONALES DISPONIBLES:\n${d.professionalsText || 'No aplica'}\n\nHORARIOS DE ATENCI\u00d3N:\n${d.horarioTexto}\n\nVALIDACI\u00d3N DE HORARIO:\nSi fueraDeHorario = true, responde \u00daNICAMENTE con el contenido de mensajeHorario. No contin\u00faes. No agregues nada m\u00e1s.\n\n${d.sesionContexto}${gapMessage}\n\nREGLA DE SESI\u00d3N INTERNA \u2014 CR\u00cdTICO:\nEl bloque SESI\u00d3N ACTIVA y CITAS DISPONIBLES PARA SELECCI\u00d3N es informaci\u00f3n INTERNA. NUNCA lo muestres al cliente. NUNCA menciones IDs, ID_CITA, ni ning\u00fan n\u00famero interno. Al cliente solo mu\u00e9strale una lista numerada limpia con servicio, d\u00eda en lenguaje natural y hora en formato AM/PM.\n\nPRECEDENCIA DE GESTI\u00d3N \u2014 CR\u00cdTICO:\nSi NO existe un bloque \"SESI\u00d3N ACTIVA\" en el contexto y el cliente expresa intenci\u00f3n de cancelar o reagendar con CUALQUIER palabra o jerga (ej: \"p\u00e1sala\", \"mu\u00e9vela\", \"c\u00e1mbiala\", \"para ahorita\", \"para hoy\", \"no puedo ir\", \"an\u00falala\", \"qu\u00edtala\"):\n\u2192 Tu \u00daNICA respuesta v\u00e1lida es el c\u00f3digo GESTIONAR_CITA|cancelar o GESTIONAR_CITA|reagendar. Sin texto adicional.\n\u2192 PROHIBIDO iniciar el di\u00e1logo (preguntar \"\u00bfpara qu\u00e9 d\u00eda?\", mostrar horarios, etc.) si NO hay SESI\u00d3N ACTIVA.\nLos PASOS de reagendamiento y la selecci\u00f3n por n\u00famero SOLO aplican cuando YA existe el bloque \"SESI\u00d3N ACTIVA\" en el contexto.\n\nSELECCI\u00d3N DE CITA \u2014 CR\u00cdTICO:\nCuando el cliente responda con un n\u00famero (1, 2, 3, etc.) Y hay una SESI\u00d3N ACTIVA en el contexto:\n\nSi la acci\u00f3n es CANCELAR:\n- Identifica el ID_CITA correspondiente al n\u00famero elegido\n- Responde \u00daNICAMENTE sin texto adicional: CANCELAR_CITA|ID_CITA\n- NUNCA pidas confirmaci\u00f3n adicional \u2014 el n\u00famero es suficiente\nTAMBI\u00c9N cuando hay SESI\u00d3N ACTIVA con acci\u00f3n CANCELAR y el cliente confirma con cualquier \nexpresi\u00f3n afirmativa (\"s\u00ed\", \"si\", \"de una\", \"dale\", \"listo\", \"va\", \"ok\", \"claro\", \n\"de una mi perro\", \"hagale\", \"obvio\", \"va pues\", \"bien\") Y solo hay UNA cita en la sesi\u00f3n:\n\u2192 Responde \u00daNICAMENTE: CANCELAR_CITA|ID_CITA usando el ID de esa cita.\nSi solo hay UNA cita en la lista:\n\u2192 NO preguntes \"\u00bfcu\u00e1l n\u00famero?\". \n\u2192 Muestra la cita y pregunta: \"\u00bfConfirmas que deseas cancelar? Responde s\u00ed o con 1 \ud83d\ude0a\"\nSi hay m\u00e1s de una cita en sesi\u00f3n y no dijo un n\u00famero \u2192 pide que elija con n\u00famero.\n\nSi la acci\u00f3n es REAGENDAR \u2014 TRES PASOS OBLIGATORIOS, NO SALTARSE NINGUNO:\nPASO 1 \u2014 Cuando el cliente dice el n\u00famero (ej: \"1\"):\n  \u2192 Identifica internamente el ID_CITA y el servicio de esa opci\u00f3n\n  \u2192 Responde al cliente: \"Perfecto, vamos a reagendar tu cita de [servicio] del [fecha en lenguaje natural]. \u00bfPara qu\u00e9 d\u00eda prefieres el nuevo horario? \ud83d\ude0a\"\n  \u2192 NO emitas ning\u00fan c\u00f3digo todav\u00eda. NO muestres disponibilidad todav\u00eda.\nPASO 2 \u2014 Cuando el cliente dice el d\u00eda:\n  \u2192 Muestra SOLO los horarios disponibles de ese d\u00eda en formato limpio: \"09:00 AM, 10:00 AM, 11:00 AM\"\n  \u2192 Pide que elija una hora exacta\nPASO 3 \u2014 Cuando el cliente elige la hora exacta:\n  \u2192 Responde \u00daNICAMENTE sin texto adicional: REAGENDAR_CITA|ID_CITA|DD/MM/YYYY|HH:MM\n\nPROHIBIDO en reagendamiento: emitir REAGENDAR_CITA sin tener fecha y hora confirmadas por el cliente en este mismo flujo.\n\nHORARIOS DISPONIBLES (pr\u00f3ximos 7 d\u00edas):\n${d.disponibilidad}\n\nREGLA CR\u00cdTICA DE DISPONIBILIDAD:\n- Cliente dice fecha espec\u00edfica \u2192 muestra SOLO los horarios de ESE d\u00eda en formato limpio sin numeraci\u00f3n: \"09:00 AM, 10:00 AM, 11:00 AM\"\n- Cliente NO dice fecha \u2192 pregunta qu\u00e9 d\u00eda prefiere. PROHIBIDO mostrar horarios sin fecha confirmada.\n- PROHIBIDO mostrar m\u00e1s de un d\u00eda a la vez\n- PROHIBIDO decir que no tienes informaci\u00f3n de disponibilidad\n\nAGENDAMIENTO:\nORDEN OBLIGATORIO \u2014 NUNCA saltes pasos:\n1. SERVICIO \u2014 Si el cliente NO ha dicho un servicio espec\u00edfico (ej: \"quiero un servicio\", \"quiero agendar\", \"hola\", \"buenas\"), LISTA TODOS los servicios disponibles con sus precios completa. NO preguntes solo \"\u00bfqu\u00e9 servicio?\" sin mostrar la lista. Espera a que elija uno. Si ya dijo un servicio espec\u00edfico, conf\u00edrmalo y sigue.\n2. PROFESIONAL \u2014 Si hay PROFESIONALES DISPONIBLES (la lista no est\u00e1 vac\u00eda ni dice \"No aplica\") \u2192 pregunta \"\u00bfCon qu\u00e9 profesional quieres agendar?\" mostrando la lista numerada. Espera la respuesta.\n3. Si no tienes la FECHA \u2192 pregunta qu\u00e9 d\u00eda prefiere. Espera respuesta.\n4. Cuando diga el d\u00eda \u2192 muestra SOLO los horarios disponibles de ese d\u00eda en formato limpio: \"09:00 AM, 10:00 AM, 11:00 AM\"\n5. Si no tienes la HORA EXACTA \u2192 pide que elija del listado.\n6. Solo cuando tengas los 4 datos confirmados (servicio + profesional + fecha + hora) \u2192 muestra el resumen.\n\nLa fecha de hoy es ${d.fechaHoy}.\nCALENDARIO DE ESTA SEMANA:\n${d.calendario}\n\nPara agendar necesitas los siguientes datos EXPL\u00cdCITOS:\n1. Servicio\n2. Profesional (si hay varios disponibles)\n3. Fecha\n4. Hora EXACTA en formato HH:MM\n\nCuando tengas todos los datos muestra el resumen y pide confirmaci\u00f3n:\n\"Perfecto, te confirmo los datos:\n\u2702\ufe0f Servicio: [servicio]\n\ud83d\udc64 Profesional: [nombre del profesional]\n\ud83d\udcc5 Fecha: [fecha en lenguaje natural]\n\u23f0 Hora: [hora en formato AM/PM]\n\u00bfConfirmamos la cita? \ud83d\ude0a\"\n\nCONFIRMACI\u00d3N DE AGENDAMIENTO:\nCuando el cliente confirme con \"s\u00ed\", \"si\", \"confirmo\", \"listo\", \"dale\", \"va\", \"ok\", \"claro\", \"obvio\", \"listo pues\", \"hagale\", \"le doy\", o cualquier expresi\u00f3n afirmativa en espa\u00f1ol incluyendo jerga colombiana, responde \u00daNICAMENTE:\nCITA_CONFIRMADA|servicio|DD/MM/YYYY|HH:MM|nombreDelProfesional\n(si no hay profesionales disponibles, omite el quinto campo: CITA_CONFIRMADA|servicio|DD/MM/YYYY|HH:MM)\n\nREGLA DE CONFIRMACI\u00d3N + PREGUNTA \u2014 CR\u00cdTICO:\nSi el cliente confirma Y en el MISMO mensaje hace una pregunta adicional (precio, ubicaci\u00f3n, duraci\u00f3n, etc.):\nNO emitas CITA_CONFIRMADA en este turno.\nPRIMERO responde la pregunta de forma breve y clara.\nLUEGO vuelve a pedir la confirmaci\u00f3n: \"\u00bfTe confirmo entonces la cita? \ud83d\ude0a\"\nSolo cuando el cliente confirme de nuevo SIN preguntas adicionales \u2192 emite CITA_CONFIRMADA|servicio|DD/MM/YYYY|HH:MM|nombreDelProfesional\nNUNCA ignores una pregunta del cliente por confirmar de inmediato. NUNCA pierdas la confirmaci\u00f3n: si solo confirma sin preguntar, emite el c\u00f3digo directo.\n\nCR\u00cdTICO \u2014 HORA EXACTA: \"en la tarde\", \"en la ma\u00f1ana\", \"m\u00e1s tarde\" NO son horas v\u00e1lidas. Muestra el listado y pide que elija una hora exacta.\nNUNCA confirmes una hora sin saber si es AM o PM.\n\nCuando el cliente diga solo un n\u00famero sin AM/PM (ej: '3', '6', '9'):\n- Si el negocio atiende esa hora tanto en AM como en PM \u2192 pregunta: '\u00bfLas [N]:00 AM o las [N]:00 PM? \ud83d\ude0a'\n- Si solo existe en uno de los dos \u2192 conf\u00edrmala directamente.\nNUNCA asumas AM o PM por el contexto del d\u00eda.\n\nCANCELACIONES Y REAGENDAMIENTO:\nDetecta intenci\u00f3n aunque el cliente use palabras variadas o jerga:\ncancelar, anular, borrar, no puedo ir, no voy, quitar la cita, cancelar el turno,\nreagendar, cambiar, mover, postergar, no puedo asistir, necesito cambiar la hora.\n\nCuando detectes cancelaci\u00f3n \u2192 responde \u00daNICAMENTE sin texto adicional:\nGESTIONAR_CITA|cancelar\n\nCuando detectes reagendamiento \u2192 responde \u00daNICAMENTE sin texto adicional:\nGESTIONAR_CITA|reagendar\n\nNUNCA respondas que el equipo lo contactar\u00e1. Siempre emite el c\u00f3digo.\n\nTONO Y LENGUAJE:\n- Responde SIEMPRE en espa\u00f1ol\n- Acepta y entiende jerga colombiana: parce, loca, marica, mi amor, papi, mami, listo pues, hagale, le doy, ch\u00e9vere, bacano, pilas,buena , perro , pana, pa , sisa, sisas, breves ,  entre otros. Nunca te ofendas ni corrijas al cliente.\n- Responde con calidez y naturalidad, como si fuera una persona real del negocio\n- M\u00e1ximo 5 l\u00edneas por respuesta (EXCEPCI\u00d3N: si el cliente pide la lista completa de servicios/precios, incluye TODOS los servicios sin importar cu\u00e1ntas l\u00edneas ocupe \u2014 NUNCA trunques la lista de servicios)\n- En conversaciones normales termina con una pregunta\n- NUNCA termines con pregunta al confirmar una cita o al emitir un c\u00f3digo de acci\u00f3n\n- FORMATO DE FECHA: Usa lenguaje natural. CORRECTO: \"el mi\u00e9rcoles 8 de abril\". INCORRECTO: \"08/04/2026\"\n- ASESOR\u00cdA: Si el cliente pide recomendaci\u00f3n, resp\u00f3ndela brevemente antes de continuar.\n- SIN\u00d3NIMOS: \"motilado\", \"motilar\", \"pelar\", \"pelado\" = Corte caballero. \"Arreglo de barba\" = Barba. Entiende el sin\u00f3nimo pero confirma siempre con el nombre oficial del servicio.\n- SERVICIOS: NUNCA menciones servicios fuera de tu lista. Si no existe: \"Lo sentimos, ese servicio no est\u00e1 disponible. Nuestros servicios son: ${d.servicesText}. \u00bfPuedo ayudarte con alguno? \ud83d\ude0a\"\n- SCOPE: Solo puedes hablar de citas, servicios, horarios y precios de ${d.promptName}. Si el mensaje no tiene relaci\u00f3n con ninguno de estos temas, responde en m\u00e1ximo 1 l\u00ednea redirigiendo: \"Solo puedo ayudarte con citas en ${d.promptName} \ud83d\ude0a \u00bfQuer\u00e9s agendar, cancelar o reagendar?\" Sin elaborar, sin dar consejos generales, sin salirte del rol.\n- RECOMENDACIONES: Si el cliente pregunta cu\u00e1l servicio le conviene o qu\u00e9 corte/tratamiento le recomend\u00e1s, puedes responder brevemente bas\u00e1ndote \u00daNICAMENTE en los servicios de tu lista y luego invitar a agendar. Ejemplo: \"Para algo r\u00e1pido te recomiendo el Corte caballero \ud83d\udc88 \u00bfTe agendo?\" Nunca recomiendes cosas fuera de tu cat\u00e1logo.`;\n  \n\n// \u2500\u2500 2. CONSTRUIR MESSAGES (system + historial limpio + user nuevo) \u2500\u2500\nconst priorClean = prior\n  .filter(m => m && m.role && m.content)\n  .map(m => ({ role: m.role, content: String(m.content) })); // strip reasoning/provider antes de reenviar\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...priorClean,\n  { role: 'user', content: String(d.textoOriginal || '') }\n];\n\n// \u2500\u2500 3. FALLBACK CHAIN \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Criterio de fallo (\u2192 siguiente proveedor): non-200, timeout >10s,\n// response sin choices, content vac\u00edo/null. Patr\u00f3n \"multiple fallbacks +\n// graceful degradation\".\nconst providers = [\n  { name: 'gemini',   url: 'https://generativelanguage.googleapis.com/v1beta/openai/chat/completions', key: $env.GEMINI_API_KEY,   model: 'gemini-2.5-flash-lite' },\n  { name: 'cerebras', url: 'https://api.cerebras.ai/v1/chat/completions',                                key: $env.CEREBRAS_API_KEY, model: 'gpt-oss-120b' },\n  { name: 'groq',     url: 'https://api.groq.com/openai/v1/chat/completions',                            key: $env.GROQ_API_KEY,     model: 'openai/gpt-oss-120b' } // prefijo \"openai/\" obligatorio en Groq\n];\n\nlet result = null, usedProvider = 'none', lastError = '';\n\nfor (const p of providers) {\n  if (!p.key) { lastError += `[${p.name}: sin API key] `; continue; }\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: p.url,\n      headers: { 'Authorization': `Bearer ${p.key}`, 'Content-Type': 'application/json' },\n      body: { model: p.model, messages, temperature: 0.4, max_tokens: 2048 },\n      json: true,\n      timeout: 10000,            // timeout >10s lanza \u2192 cae al catch \u2192 siguiente proveedor\n      returnFullResponse: true\n    });\n    if (resp.statusCode !== 200) throw new Error(`status ${resp.statusCode}`);\n    const choice = resp.body && resp.body.choices && resp.body.choices[0];\n    if (!choice || !choice.message) throw new Error('sin choices');\n    const content = choice.message.content;\n    if (content == null || String(content).trim() === '') throw new Error('content vacio');\n    result = { content: String(content), reasoning: choice.message.reasoning || null };\n    usedProvider = p.name;\n    break;\n  } catch (e) {\n    lastError += `[${p.name}: ${e.message}] `;\n    continue;\n  }\n}\n\n// \u2500\u2500 4. DEGRADACI\u00d3N GR\u00c1CIL (ning\u00fan proveedor respondi\u00f3) \u2500\u2500\u2500\u2500\u2500\u2500\n// Tres horizontes: NO exponer el error al cliente. Mensaje amable + reintento.\n// No envenenamos el historial: lo dejamos igual (sin turnos nuevos).\nif (!result) {\n  return [{ json: {\n    output: 'Disculpa, estoy teniendo un problemita t\u00e9cnico en este momento \ud83d\ude4f \u00bfPuedes escribirme de nuevo en un minutico?',\n    rawOutput: '',\n    provider: 'none',\n    reasoning: null,\n    debugError: lastError,\n    businessId: d.businessId,\n    numeroLimpio: d.numeroLimpio,\n    historyJSON: priorEsc\n  }}];\n}\n\n// \u2500\u2500 5. NORMALIZACI\u00d3N DE SALIDA (regex \u2192 c\u00f3digo limpio) \u2500\u2500\u2500\u2500\u2500\u2500\n// Gemini/gpt-oss pueden anteponer texto o envolver en backticks. Extraemos el\n// c\u00f3digo EXACTO con segmentos acotados (no greedy hasta EOL) para que los\n// split('|') downstream caigan perfecto. Si no hay c\u00f3digo \u2192 texto conversacional.\nfunction normalizar(raw) {\n  let t = String(raw).trim().replace(/```[a-zA-Z]*\\n?/g, '').replace(/```/g, '').trim();\n  const horaSeg = '\\\\d{1,2}:\\\\d{2}(?:\\\\s?[AaPp]\\\\.?[Mm]\\\\.?)?';\n  const patrones = [\n    new RegExp(`CITA_CONFIRMADA\\\\|[^|\\\\n]+\\\\|\\\\d{1,2}\\\\/\\\\d{1,2}\\\\/\\\\d{4}\\\\|${horaSeg}`),\n    new RegExp(`REAGENDAR_CITA\\\\|\\\\d+\\\\|\\\\d{1,2}\\\\/\\\\d{1,2}\\\\/\\\\d{4}\\\\|${horaSeg}`),\n    /CANCELAR_CITA\\|\\s*\\d+/,\n    /GESTIONAR_CITA\\|\\s*(?:cancelar|reagendar)/i\n  ];\n  for (const p of patrones) {\n    const m = t.match(p);\n    if (m) return m[0].trim();\n  }\n  return t;\n}\nconst cleaned = normalizar(result.content);\n\n// \u2500\u2500 6. ACTUALIZAR HISTORIAL (m\u00e1x 20 mensajes = 10 turnos) \u2500\u2500\u2500\n// Guardamos reasoning + provider en el turno assistant para debug; se strip-ean\n// al reenviar (paso 2). El system prompt NO se guarda (se reconstruye cada turno).\nconst updated = [\n  ...prior,\n  { role: 'user',      content: String(d.textoOriginal || '') },\n  { role: 'assistant', content: result.content, reasoning: result.reasoning, provider: usedProvider }\n].slice(-20);\n\nreturn [{ json: {\n  output: cleaned,                 // \u2190 lo que leen Switch y las ramas\n  rawOutput: result.content,       // debug\n  provider: usedProvider,          // debug\n  reasoning: result.reasoning,     // debug\n  debugError: lastError || null,\n  businessId: d.businessId,\n  numeroLimpio: d.numeroLimpio,\n  historyJSON: JSON.stringify(updated).replace(/'/g, \"''\")\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        2640
      ],
      "id": "76d5b94a-5eed-4dcc-95b6-2432036839ea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst servicio = row.servicio || '';\nconst hora = (row.hora || '').substring(0, 5);\nconst [hh, mm] = hora.split(':').map(Number);\nconst ampm = hh < 12 ? 'AM' : 'PM';\nconst h12 = hh === 0 ? 12 : hh > 12 ? hh - 12 : hh;\nconst horaAmPm = `${h12}:${String(mm).padStart(2,'0')} ${ampm}`;\n\nconst diasSemana = ['domingo','lunes','martes','mi\u00e9rcoles','jueves','viernes','s\u00e1bado'];\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nconst d = new Date(row.fecha + 'T00:00:00');\nconst fechaNatural = `${diasSemana[d.getUTCDay()]} ${d.getUTCDate()} de ${meses[d.getUTCMonth()]}`;\n\nconst numeroLimpio = $('Procesar Mensaje').item.json.numeroLimpio;\nconst whatsappInstance = $('Procesar Mensaje').item.json.whatsappInstance;\n\nreturn [{ json: {\n  numero: numeroLimpio,\n  whatsappInstance,\n  texto: `\u2705 Tu cita de ${servicio} del ${fechaNatural} a las ${horaAmPm} ha sido cancelada. \u00a1Cuando quieras volver a agendar, aqu\u00ed estamos! \ud83d\ude0a`,\n  body: JSON.stringify({\n    number: numeroLimpio,\n    text: `\u2705 Tu cita de ${servicio} del ${fechaNatural} a las ${horaAmPm} ha sido cancelada. \u00a1Cuando quieras volver a agendar, aqu\u00ed estamos! \ud83d\ude0a`\n  })\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        2816
      ],
      "id": "47719769-82b7-4184-aad7-b5cc5a5d0995",
      "name": "Construir Confirmaci\u00f3n Cancelaci\u00f3n"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json ",
        "body": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3376,
        2960
      ],
      "id": "64f56feb-eb25-4f8c-9b2d-c0806ad0ebdc",
      "name": "Confirmar Cancelaci\u00f3n"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Procesar Mensaje').item.json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"number\": \"{{ $('Procesar Mensaje').item.json.ownerNumber }}\",\n  \"text\": \"\u274c *Cita cancelada por WhatsApp*\\n\\n\ud83d\udc64 *Cliente:* {{ $json.nombre }}\\n\u2702\ufe0f *Servicio:* {{ $json.servicio }}\\n\ud83d\udcc5 *Fecha:* {{ $json.fecha }}\\n\u23f0 *Hora:* {{ ($json.hora||'').substring(0,5) }}\"\n}",
        "options": {}
      },
      "id": "3b75ba95-970f-4f46-8efe-beafb0718061",
      "name": "Notificar Due\u00f1o Cancelaci\u00f3n",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        2944
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst servicio = row.servicio || '';\nconst hora = (row.hora || '').substring(0, 5);\nconst [hh, mm] = hora.split(':').map(Number);\nconst ampm = hh < 12 ? 'AM' : 'PM';\nconst h12 = hh === 0 ? 12 : hh > 12 ? hh - 12 : hh;\nconst horaAmPm = `${h12}:${String(mm).padStart(2,'0')} ${ampm}`;\n\nconst diasSemana = ['domingo','lunes','martes','mi\u00e9rcoles','jueves','viernes','s\u00e1bado'];\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nconst d = new Date(row.fecha + 'T00:00:00');\nconst fechaNatural = `${diasSemana[d.getUTCDay()]} ${d.getUTCDate()} de ${meses[d.getUTCMonth()]}`;\n\nconst numeroLimpio = $('Procesar Mensaje').item.json.numeroLimpio;\nconst whatsappInstance = $('Procesar Mensaje').item.json.whatsappInstance;\n\nreturn [{\n  json: {\n    numero: numeroLimpio,\n    whatsappInstance,\n    body: JSON.stringify({\n      number: numeroLimpio,\n      text: `\u2705 \u00a1Listo! Tu cita de ${servicio} qued\u00f3 reagendada para el ${fechaNatural} a las ${horaAmPm}. \u00a1Te esperamos! \ud83d\ude0a`\n    })\n  }\n}];"
      },
      "id": "6e77274a-309e-4cff-ab1d-fc0ca873a5fe",
      "name": "Construir Mensaje Reagendamiento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        3040
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtro Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Inicial": {
      "main": [
        [
          {
            "node": "Lookup Negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Negocio": {
      "main": [
        [
          {
            "node": "\u00bfNegocio Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfNegocio Existe?": {
      "main": [
        [
          {
            "node": "Procesar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Mensaje": {
      "main": [
        [
          {
            "node": "Leer Sesi\u00f3n activa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Slots Disponibles": {
      "main": [
        [
          {
            "node": "Formatear Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Disponibilidad": {
      "main": [
        [
          {
            "node": "Leer Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Disponibilidad": {
      "main": [
        [
          {
            "node": "Verificar Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Slot": {
      "main": [
        [
          {
            "node": "\u00bfDisponible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfDisponible?": {
      "main": [
        [
          {
            "node": "Insertar Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso Slot Ocupado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Cita": {
      "main": [
        [
          {
            "node": "Construir Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Mensajes": {
      "main": [
        [
          {
            "node": "Notificar Due\u00f1o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Due\u00f1o": {
      "main": [
        [
          {
            "node": "Confirmar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfConfirmar o Responder?": {
      "main": [
        [],
        [
          {
            "node": "Respuesta Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Leer Disponibilidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Citas Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar Cancelaci\u00f3n",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar Reagendamiento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u00bfConfirmar o Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Citas Cliente": {
      "main": [
        [
          {
            "node": "Formatear Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Citas": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Cancelaci\u00f3n": {
      "main": [
        [
          {
            "node": "Sync Cancel Dashboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar Due\u00f1o Cancelaci\u00f3n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Reagendamiento": {
      "main": [
        [
          {
            "node": "Construir Mensaje Reagendamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Sesi\u00f3n activa": {
      "main": [
        [
          {
            "node": "Leer Slots Disponibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sesi\u00f3n": {
      "main": [
        [
          {
            "node": "Enviar Lista de citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Reagendamiento": {
      "main": [
        [
          {
            "node": "Limpiar Sesi\u00f3n Reagendamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Guardar Sesi\u00f3n",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Lista de citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Historial": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Guardar Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Historial": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Confirmaci\u00f3n Cancelaci\u00f3n": {
      "main": [
        [
          {
            "node": "Confirmar Cancelaci\u00f3n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Cancelaci\u00f3n": {
      "main": [
        [
          {
            "node": "Limpiar Sesi\u00f3n Cancelaci\u00f3n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Cancel Dashboard": {
      "main": [
        [
          {
            "node": "Construir Confirmaci\u00f3n Cancelaci\u00f3n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Mensaje Reagendamiento": {
      "main": [
        [
          {
            "node": "Confirmar Reagendamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4460a178-7578-4763-bb1d-989c448c2943",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78865b14428b3461ac0504416eb2ba5903a5482f3190c606719f27159eed62fe"
  },
  "id": "tzFJ9m2pJX1AheI0",
  "tags": []
}