workflows/whatsapp-bot-generico.json
{
  "name": "WhatsApp Bot - Genérico",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "whatsapp-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        -2768
      ],
      "id": "node-webhook",
      "name": "Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "filter-group",
              "leftValue": "=={{ $json.body.data.key.remoteJid }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "filter-empty",
              "leftValue": "=={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        -2768
      ],
      "id": "node-if-filtro",
      "name": "Filtro Inicial"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, whatsapp_instance, owner_number, timezone, prompt_name, services_text, schedule_text::text AS schedule_text FROM businesses WHERE whatsapp_instance = '{{ $json.body.instance }}' AND active = true LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -496,
        -2768
      ],
      "id": "node-lookup-negocio",
      "name": "Lookup Negocio",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-negocio-existe",
              "leftValue": "=={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        -2768
      ],
      "id": "node-if-negocio",
      "name": "¿Negocio Existe?"
    },
    {
      "parameters": {
        "jsCode": "// ── FILTRO fromMe ──────────────────────────────────────────\nif ($('Webhook').item.json.body.data.key.fromMe === true) {\n  return [];\n}\n\n// ── DATOS DEL NEGOCIO desde Lookup ─────────────────────────\nconst negocio = $('Lookup Negocio').item.json;\nconst businessId        = negocio.id;\nconst whatsappInstance  = negocio.whatsapp_instance;\nconst ownerNumber       = negocio.owner_number;\nconst promptName        = negocio.prompt_name || negocio.name;\nconst servicesText      = negocio.services_text || '';\nconst timezone          = negocio.timezone || 'America/Bogota';\n\n// schedule_text viene como string JSON desde el nodo Postgres\nlet scheduleText;\ntry {\n  scheduleText = JSON.parse(negocio.schedule_text || '{}');\n} catch(e) {\n  scheduleText = {};\n}\n\n// ── RATE LIMIT ─────────────────────────────────────────────\nconst numero = $('Webhook').item.json.body.data.key.remoteJid;\nconst ahora = Date.now();\nconst ventana = 60 * 60 * 1000;\nconst limite = 50;\n\nconst historialRaw = $getWorkflowStaticData('global');\nif (!historialRaw.rateLimits) historialRaw.rateLimits = {};\n// Key por negocio para no mezclar límites entre negocios\nconst rateLimitKey = `${businessId}_${numero}`;\nconst historial = historialRaw.rateLimits[rateLimitKey] || [];\nconst recientes = historial.filter(t => ahora - t < ventana);\n\nif (recientes.length >= limite) {\n  return [];\n}\n\nrecientes.push(ahora);\nhistorialRaw.rateLimits[rateLimitKey] = recientes;\n\n// ── FECHA HOY (timezone del negocio) ───────────────────────\nconst ahoraTZ = new Date(new Date().toLocaleString('en-US', { timeZone: timezone }));\nconst dia  = String(ahoraTZ.getDate()).padStart(2, '0');\nconst mes  = String(ahoraTZ.getMonth() + 1).padStart(2, '0');\nconst anio = ahoraTZ.getFullYear();\nconst fechaHoy = `${dia}/${mes}/${anio}`;\n\n// ── CALENDARIO PRÓXIMOS 7 DÍAS ─────────────────────────────\nconst diasSemana = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'];\nconst manana = new Date(new Date().toLocaleString('en-US', { timeZone: timezone }));\nmanana.setDate(manana.getDate() + 1);\nconst dman = String(manana.getDate()).padStart(2, '0');\nconst mman = String(manana.getMonth() + 1).padStart(2, '0');\nconst yman = manana.getFullYear();\nlet calendario = `Mañana: ${dman}/${mman}/${yman}\\n`;\nfor (let i = 1; i <= 7; i++) {\n  const d = new Date(new Date().toLocaleString('en-US', { timeZone: timezone }));\n  d.setDate(d.getDate() + i);\n  const dd   = String(d.getDate()).padStart(2, '0');\n  const mm   = String(d.getMonth() + 1).padStart(2, '0');\n  const yyyy = d.getFullYear();\n  calendario += `${diasSemana[d.getDay()]}: ${dd}/${mm}/${yyyy}\\n`;\n}\n\n// ── CONSTRUIR TEXTO DE HORARIO para el prompt ──────────────\nconst diasNombre = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'];\nconst pad = h => String(h).padStart(2,'0');\nconst toAmPm = h => h < 12 ? `${h === 0 ? 12 : h}:00 AM` : `${h === 12 ? 12 : h - 12}:00 PM`;\nlet horarioTextoPrompt = '';\nfor (let d = 0; d <= 6; d++) {\n  const key = String(d);\n  if (scheduleText[key]) {\n    const { open, close } = scheduleText[key];\n    horarioTextoPrompt += `${diasNombre[d]}: ${toAmPm(open)} - ${toAmPm(close)}\\n`;\n  } else {\n    horarioTextoPrompt += `${diasNombre[d]}: Cerrado\\n`;\n  }\n}\n\n// ── EXTRAER MENSAJE ────────────────────────────────────────\nconst mensaje = $('Webhook').item.json.body.data.message?.conversation ||\n                $('Webhook').item.json.body.data.message?.extendedTextMessage?.text || '';\n\n// ── VALIDACIÓN DE HORARIO ──────────────────────────────────\n// Detecta la hora mencionada en el mensaje del cliente y\n// la valida contra el schedule del negocio (no la hora actual).\nfunction detectarFueraDeHorario(texto, schedule, tzName) {\n  const t = (texto || '').toLowerCase()\n    .replace(/[áàä]/g,'a').replace(/[éèë]/g,'e')\n    .replace(/[íìï]/g,'i').replace(/[óòö]/g,'o')\n    .replace(/[úùü]/g,'u');\n\n  // Detectar día de la semana del mensaje\n  // Primero intenta detectar nombre de día explícito\n  const nombresDias = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n  // Normalizado ya está en t\n  const nombresDiasNorm = ['domingo','lunes','martes','miercoles','jueves','viernes','sabado'];\n  let diaIndex = null;\n  for (let i = 0; i < nombresDiasNorm.length; i++) {\n    if (t.includes(nombresDiasNorm[i])) { diaIndex = i; break; }\n  }\n  // Si hay fecha DD/MM/YYYY en el mensaje, derivar el día de semana\n  if (diaIndex === null) {\n    const mf = t.match(/\\b(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})\\b/);\n    if (mf) {\n      const dFecha = new Date(parseInt(mf[3]), parseInt(mf[2]) - 1, parseInt(mf[1]));\n      diaIndex = dFecha.getDay();\n    }\n  }\n  // Si no se detectó día, usar hoy\n  if (diaIndex === null) {\n    const hoyTZ = new Date(new Date().toLocaleString('en-US', { timeZone: tzName }));\n    diaIndex = hoyTZ.getDay();\n  }\n\n  const diaKey  = String(diaIndex);\n  const config  = schedule[diaKey];\n\n  // Día cerrado según schedule\n  if (!config) {\n    return {\n      fueraDeHorario: true,\n      mensajeHorario: `Lo sentimos, ese día no atendemos. ¿Te puedo agendar en otro día? 😊`\n    };\n  }\n\n  const abreH   = config.open;\n  const cierraH = config.close;\n\n  let hora = null;\n\n  // 1) HH:MM con am/pm opcional\n  const mHHMM = t.match(/\\b(\\d{1,2}):(\\d{2})\\s*([ap]\\.?m\\.?)?/);\n  if (mHHMM) {\n    let h = parseInt(mHHMM[1]);\n    const m = parseInt(mHHMM[2]);\n    const suf = (mHHMM[3] || '').replace(/\\./g, '');\n    if (suf.startsWith('p') && h < 12) h += 12;\n    if (suf.startsWith('a') && h === 12) h = 0;\n    hora = h + m / 60;\n  }\n  // 2) Número + pm\n  if (hora === null) {\n    const mPm = t.match(/\\b(\\d{1,2})\\s*p\\.?m\\.?\\b/);\n    if (mPm) { let h = parseInt(mPm[1]); if (h < 12) h += 12; hora = h; }\n  }\n  // 3) Número + am\n  if (hora === null) {\n    const mAm = t.match(/\\b(\\d{1,2})\\s*a\\.?m\\.?\\b/);\n    if (mAm) { let h = parseInt(mAm[1]); if (h === 12) h = 0; hora = h; }\n  }\n  // 4) \"a las X de la tarde/noche\"\n  if (hora === null) {\n    const mT = t.match(/(?:a las|las)\\s+(\\d{1,2})(?:\\s+de la|\\s+en la)?\\s+(?:tarde|noche)/);\n    if (mT) { let h = parseInt(mT[1]); if (h < 12) h += 12; hora = h; }\n  }\n  // 5) \"a las X de la mañana\"\n  if (hora === null) {\n    const mM = t.match(/(?:a las|las)\\s+(\\d{1,2})(?:\\s+de la)?\\s+manana/);\n    if (mM) { let h = parseInt(mM[1]); if (h === 12) h = 0; hora = h; }\n  }\n\n  if (hora === null) return { fueraDeHorario: false };\n  if (hora >= abreH && hora < cierraH) return { fueraDeHorario: false };\n\n  return {\n    fueraDeHorario: true,\n    mensajeHorario: `Lo sentimos, esa hora está fuera de nuestro horario. Atendemos de ${toAmPm(abreH)} a ${toAmPm(cierraH)}. ¿Te puedo agendar en otro horario? 😊`\n  };\n}\n\nconst validacion = detectarFueraDeHorario(mensaje, scheduleText, timezone);\n\nif (!mensaje.trim()) return [];\n\nreturn [{\n  json: {\n    textoOriginal:    mensaje,\n    numero:           numero,\n    timestamp:        $('Webhook').item.json.body.data.messageTimestamp,\n    procesado:        true,\n    fechaHoy:         fechaHoy,\n    calendario:       calendario,\n    fueraDeHorario:   validacion.fueraDeHorario,\n    mensajeHorario:   validacion.mensajeHorario || null,\n    // Contexto del negocio — disponible para todos los nodos siguientes\n    businessId:       businessId,\n    whatsappInstance: whatsappInstance,\n    ownerNumber:      ownerNumber,\n    promptName:       promptName,\n    servicesText:     servicesText,\n    horarioTexto:     horarioTextoPrompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -2784
      ],
      "id": "node-code-procesar",
      "name": "Procesar Mensaje"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH horario AS (\n  SELECT\n    key::int                        AS dia_semana,\n    (value->>'open')::int           AS hora_open,\n    (value->>'close')::int - 1      AS hora_close_last\n  FROM businesses,\n       jsonb_each(schedule_text)\n  WHERE id = {{ $json.businessId }}\n),\nslots AS (\n  SELECT\n    d.fecha_slot,\n    generate_series(\n      d.fecha_slot + (h.hora_open  || ' hours')::interval,\n      d.fecha_slot + (h.hora_close_last || ' hours')::interval,\n      '1 hour'::interval\n    )::time AS hora\n  FROM (\n    SELECT\n      (NOW() AT TIME ZONE 'America/Bogota')::date + n AS fecha_slot\n    FROM generate_series(0, 7) AS n\n  ) d\n  JOIN horario h\n    ON EXTRACT(DOW FROM d.fecha_slot) = h.dia_semana\n)\nSELECT\n  s.fecha_slot::text                 AS fecha,\n  to_char(s.hora, 'HH12:MI AM')      AS slot\nFROM slots s\nWHERE s.hora NOT IN (\n  SELECT hora\n  FROM appointments\n  WHERE business_id = {{ $json.businessId }}\n    AND fecha = s.fecha_slot\n    AND estado != 'Cancelada'\n)\nORDER BY s.fecha_slot, s.hora",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -2784
      ],
      "id": "node-leer-slots",
      "name": "Leer Slots Disponibles",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slots = $input.all();\nconst diasSemana = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'];\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\n\nconst porFecha = {};\nfor (const item of slots) {\n  const fecha = item.json.fecha;\n  const slot  = item.json.slot;\n  if (!porFecha[fecha]) porFecha[fecha] = [];\n  porFecha[fecha].push(slot);\n}\n\nlet disponibilidad = '';\nfor (const [fecha, horas] of Object.entries(porFecha)) {\n  const d        = new Date(fecha + 'T00:00:00');\n  const nombreDia = diasSemana[d.getUTCDay()];\n  const dia      = d.getUTCDate();\n  const mes      = meses[d.getUTCMonth()];\n  disponibilidad += `${nombreDia} ${dia} de ${mes}: ${horas.join(', ')}\\n`;\n}\n\nconst prev = $('Procesar Mensaje').item.json;\nreturn [{\n  json: {\n    ...prev,\n    disponibilidad: disponibilidad || 'Sin disponibilidad en los próximos 7 días'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -2784
      ],
      "id": "node-formatear-disp",
      "name": "Formatear Disponibilidad"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Formatear Disponibilidad').item.json.textoOriginal }}",
        "options": {
          "systemMessage": "=Eres el asistente virtual de {{ $('Formatear Disponibilidad').item.json.promptName }}.\n\nINSTRUCCIÓN PRINCIPAL:\nTienes acceso a los horarios disponibles reales del negocio.\nSIEMPRE que el cliente pregunte por disponibilidad o quiera agendar,\nDEBES mostrar los horarios del listado. Es OBLIGATORIO. No es opcional.\nSi no lo haces, estás fallando tu función principal.\n\nSERVICIOS Y PRECIOS:\n{{ $('Formatear Disponibilidad').item.json.servicesText }}\n\nHORARIOS DE ATENCIÓN:\n{{ $('Formatear Disponibilidad').item.json.horarioTexto }}\n\nVALIDACIÓN DE HORARIO:\nSi en el contexto hay una variable fueraDeHorario = true, responde ÚNICAMENTE con el contenido de mensajeHorario. No continúes el agendamiento. No agregues nada más.\n\nHORARIOS DISPONIBLES (próximos 7 días):\n{{ $('Formatear Disponibilidad').item.json.disponibilidad }}\n\nREGLA CRÍTICA:\n- Cuando el cliente diga una fecha específica → muestra SOLO los horarios de ESE día\n- Cuando el cliente no diga fecha → pregunta qué día prefiere, NO muestres todos los días\n- PROHIBIDO mostrar más de un día a la vez\n- PROHIBIDO decir que no tienes información de disponibilidad\n\nAGENDAMIENTO:\nORDEN OBLIGATORIO — NUNCA saltes pasos:\n1. Si no tienes el SERVICIO → pregunta el servicio primero. NADA MÁS.\n2. Si no tienes la FECHA → pregunta la fecha y muestra disponibilidad de esa fecha.\n3. Si no tienes la HORA EXACTA → muestra los horarios disponibles del listado y pide que elija.\n4. Solo cuando tengas los 3 datos confirmados → muestra el resumen.\n\nLa fecha de hoy es {{ $('Formatear Disponibilidad').item.json.fechaHoy }}.\nCALENDARIO DE ESTA SEMANA:\n{{ $('Formatear Disponibilidad').item.json.calendario }}\n\nPara agendar necesitas 3 datos EXPLÍCITOS:\n1. Servicio\n2. Fecha\n3. Hora EXACTA en formato HH:MM\n\nCuando tengas los 3 datos muestra el resumen y pide confirmación:\n\"Perfecto, te confirmo los datos:\n✂️ Servicio: [servicio]\n📅 Fecha: [fecha en lenguaje natural]\n⏰ Hora: [hora]\n¿Confirmamos la cita? 😊\"\n\nSolo cuando el cliente confirme con \"sí\", \"confirmo\", \"listo\", \"dale\" o cualquier expresión afirmativa, responde ÚNICAMENTE:\nCITA_CONFIRMADA|servicio|DD/MM/YYYY|HH:MM\n\nREGLA DE CONFIRMACIÓN PARCIAL: Si el cliente confirma Y en el mismo mensaje pide algo adicional o quiere modificar algo (ej: \"sí, pero cámbiame el servicio\", \"dale, aunque tengo una pregunta\"), PRIMERO emite CITA_CONFIRMADA con los datos ya acordados. El cambio o pregunta adicional lo atiendes en el siguiente mensaje.\n\nCRÍTICO — HORA EXACTA: Expresiones como \"en la tarde\", \"en la mañana\", \"más tarde\" NO son horas válidas. Muestra el listado y pide que elija una hora exacta del mismo.\nNUNCA confirmes una hora sin saber si es AM o PM.\n\nCANCELACIONES Y CAMBIOS:\nDetecta intención de cancelar o reagendar aunque el cliente use palabras variadas:\ncancelar, anular, borrar, eliminar, no puedo ir, no voy a poder, quiero cambiar,\nreagendar, cambiar fecha, cambiar hora, mover mi cita, postergar.\n\nCuando detectes esta intención responde ÚNICAMENTE (sin texto adicional):\nGESTIONAR_CITA|cancelar     ← si quiere cancelar\nGESTIONAR_CITA|reagendar    ← si quiere reagendar\n\nNUNCA respondas que \"el equipo lo contactará\". Siempre emite el código de gestión.\n\nSELECCIÓN DE CITA:\nCuando el cliente responda eligiendo una cita para cancelar o reagendar:\n- Si cancela → responde ÚNICAMENTE: CANCELAR_CITA|ID_DE_LA_CITA\n- Si reagenda → responde ÚNICAMENTE: REAGENDAR_CITA|ID_DE_LA_CITA|DD/MM/YYYY|HH:MM\n  (para reagendar, primero muestra disponibilidad del negocio y pide nueva fecha/hora)\n\nREGLAS GENERALES:\n- Responde SIEMPRE en español\n- Máximo 5 líneas por respuesta\n- En conversaciones normales termina con una pregunta\n- NUNCA termines con pregunta al confirmar una cita\n- FORMATO DE FECHA: Usa lenguaje natural. CORRECTO: \"el miércoles 8 de abril\". INCORRECTO: \"08/04/2026\"\n- ASESORÍA: Si el cliente pide recomendación, respóndela brevemente antes de continuar.\n- SERVICIOS: NUNCA menciones servicios fuera de tu lista. Si no existe responde: \"Lo sentimos, ese servicio no está disponible. Nuestros servicios son: {{ $('Formatear Disponibilidad').item.json.servicesText }}. ¿Puedo ayudarte con alguno? 😊\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        -2784
      ],
      "id": "node-ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        -2544
      ],
      "id": "node-groq",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "CJAed2xdCyRjPBAD",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Procesar Mensaje').item.json.businessId }}_{{ $('Procesar Mensaje').item.json.numero }}_v3",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        624,
        -2528
      ],
      "id": "node-memory",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        -2768
      ],
      "id": "node-wait",
      "name": "Wait"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-confirmada",
              "leftValue": "=={{ $('AI Agent').item.json.output }}",
              "rightValue": "=CITA_CONFIRMADA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        -2768
      ],
      "id": "node-if1",
      "name": "¿CITA_CONFIRMADA?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total FROM appointments WHERE business_id = {{ $('Procesar Mensaje').item.json.businessId }} AND fecha = TO_DATE('{{ $('AI Agent').item.json.output.split('|')[2] }}', 'DD/MM/YYYY') AND hora = '{{ $('AI Agent').item.json.output.split('|')[3].split('\\n')[0].trim() }}'::time AND estado != 'Cancelada'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        -2896
      ],
      "id": "node-leer-disp",
      "name": "Leer Disponibilidad",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const total  = $input.first().json.total;\nconst numero = ($('Procesar Mensaje').item.json.numero || '').replace(/@s\\.whatsapp\\.net/g, '').replace(/\\D/g, '');\nconst partes = $('AI Agent').item.json.output.split('|');\nreturn [{ json: {\n  disponible:        total == 0,\n  fechaDeseada:      partes[2]?.trim(),\n  horaDeseada:       partes[3]?.split('\\n')[0].trim(),\n  numero,\n  businessId:        $('Procesar Mensaje').item.json.businessId,\n  whatsappInstance:  $('Procesar Mensaje').item.json.whatsappInstance,\n  ownerNumber:       $('Procesar Mensaje').item.json.ownerNumber\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -2896
      ],
      "id": "node-verificar-slot",
      "name": "Verificar Slot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-disponible",
              "leftValue": "={{ $json.disponible }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1584,
        -2896
      ],
      "id": "node-disponible",
      "name": "¿Disponible?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO appointments (business_id, fecha, hora, nombre, servicio, numero, estado) VALUES ({{ $('Verificar Slot').item.json.businessId }}, TO_DATE('{{ $('AI Agent').item.json.output.split('|')[2] }}', 'DD/MM/YYYY'), '{{ $('AI Agent').item.json.output.split('|')[3].split('\\n')[0].trim() }}'::time, '{{ $('Webhook').item.json.body.data.pushName }}', '{{ $('AI Agent').item.json.output.split('|')[1] }}', '{{ $('Procesar Mensaje').item.json.numero.replace('@s.whatsapp.net','') }}', 'Pendiente') RETURNING id, fecha::text, hora::text, nombre, servicio, numero, estado",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1776,
        -2896
      ],
      "id": "node-insertar-cita",
      "name": "Insertar Cita",
      "credentials": {
        "postgres": {
          "id": "AkRs7Kx5gs6JnVMz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output  = $('AI Agent').item.json.output.split('|');\nconst servicio = output[1] || '';\nconst fecha    = output[2] || '';\nconst hora     = (output[3] || '').split('\\n')[0].trim();\nconst nombre   = $('Webhook').item.json.body.data.pushName || 'Cliente';\nconst numero   = ($('Procesar Mensaje').item.json.numero || '').replace('@s.whatsapp.net', '');\n\n// Datos del negocio — ya no viene de env vars\nconst ownerNumber      = $('Verificar Slot').item.json.ownerNumber;\nconst whatsappInstance = $('Verificar Slot').item.json.whatsappInstance;\nconst promptName       = $('Procesar Mensaje').item.json.promptName;\n\nconst textoDueno  = `🔔 *Nueva cita agendada*\\n\\n👤 *Cliente:* ${nombre}\\n📞 *Número:* ${numero}\\n✂️ *Servicio:* ${servicio}\\n📅 *Fecha:* ${fecha}\\n⏰ *Hora:* ${hora}\\n\\n_Estado: Pendiente_ ✅`;\nconst textoCliente = `✅ ¡Tu cita quedó confirmada!\\n\\n✂️ *Servicio:* ${servicio}\\n📅 *Fecha:* ${fecha}\\n⏰ *Hora:* ${hora}\\n\\n¡Te esperamos en ${promptName}! 💇‍♂️\\nCualquier cambio, escríbenos aquí mismo 😊`;\n\nreturn [{\n  json: {\n    ownerNumber,\n    whatsappInstance,\n    numeroCliente:  numero,\n    nombreCliente:  nombre,\n    servicio,\n    fecha,\n    hora,\n    textoDueno,\n    textoCliente,\n    bodyDueno:   JSON.stringify({ number: ownerNumber, text: textoDueno }),\n    bodyCliente: JSON.stringify({ number: numero,      text: textoCliente })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -2896
      ],
      "id": "node-construir-msgs",
      "name": "Construir Mensajes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.bodyDueno }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2160,
        -2896
      ],
      "id": "node-notif-dueno",
      "name": "Notificar Dueño"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Construir Mensajes').item.json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Construir Mensajes').item.json.bodyCliente }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2352,
        -2896
      ],
      "id": "node-confirm-cliente",
      "name": "Confirmar Cliente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Procesar Mensaje').item.json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"
            },
            {
              "name": "text",
              "value": "={{ $('AI Agent').item.json.output.includes('CITA_CONFIRMADA') ? '✅ ¡Cita registrada! En breve recibirás la confirmación.' : $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        -2608
      ],
      "id": "node-respuesta-normal",
      "name": "Respuesta Normal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-confirmada-2",
              "leftValue": "={{ $('AI Agent').item.json.output }}",
              "rightValue": "CITA_CONFIRMADA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -2608
      ],
      "id": "node-if2",
      "name": "¿Confirmar o Responder?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Verificar Slot').item.json.whatsappInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numero }}"
            },
            {
              "name": "text",
              "value": "Lo sentimos, ese horario ya está reservado. ¿Te gustaría elegir otra hora? 😊"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        -2640
      ],
      "id": "node-slot-ocupado",
      "name": "Aviso Slot Ocupado"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtro Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Inicial": {
      "main": [
        [
          {
            "node": "Lookup Negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Negocio": {
      "main": [
        [
          {
            "node": "¿Negocio Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Negocio Existe?": {
      "main": [
        [
          {
            "node": "Procesar Mensaje",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Procesar Mensaje": {
      "main": [
        [
          {
            "node": "Leer Slots Disponibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Slots Disponibles": {
      "main": [
        [
          {
            "node": "Formatear Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Disponibilidad": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "¿CITA_CONFIRMADA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿CITA_CONFIRMADA?": {
      "main": [
        [
          {
            "node": "Leer Disponibilidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Confirmar o Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Disponibilidad": {
      "main": [
        [
          {
            "node": "Verificar Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Slot": {
      "main": [
        [
          {
            "node": "¿Disponible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Disponible?": {
      "main": [
        [
          {
            "node": "Insertar Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso Slot Ocupado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Cita": {
      "main": [
        [
          {
            "node": "Construir Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Mensajes": {
      "main": [
        [
          {
            "node": "Notificar Dueño",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Dueño": {
      "main": [
        [
          {
            "node": "Confirmar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Confirmar o Responder?": {
      "main": [
        [],
        [
          {
            "node": "Respuesta Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": []
}